@keyframes scroll-button1-home {
  0% {
    top:45px;
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity: 0;
    top: 55px;
  }
}
@keyframes scroll-button2-home {
  0% {
    top:45px;
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity: 0;
    top: 70px;
  }
}


@keyframes drag-button {
  0% {
    top:-5px;
    opacity:1;
  }
  2% {
    top:0px;
  }
  4% {
    top:5px;
  }
  6% {
    top:0px;
  }
  8% {
    top:-2px;
    opacity:0.5;
  }
  10% {
    top:0px;
  }
  12% {
    top:2px;
  }
  14% {
    top:0px;
  }
  100% {
    top:0px;
    opacity:1;
  }
}

@mixin transition-css($element: all, $duration: 0.3s, $delay:0s){
  -ms-transition-property: $element;
  -webkit-transition-property: $element;
  -moz-transition-property:$element;

  -ms-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;

  -ms-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;

  //-webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
  //-moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
  //-o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
  //transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
  //
  -webkit-transition-timing-function: cubic-bezier(.88,.01,.23,.99);
  -moz-transition-timing-function: cubic-bezier(.88,.01,.23,.99);
  -o-transition-timing-function: cubic-bezier(.88,.01,.23,.99);
  transition-timing-function: cubic-bezier(.88,.01,.23,.99); /* cubic-bezier(.88,.01,.23,.99) */
}