/**
 * Settings
 *
 * Variables and base
 */

$extra-small-value: 4px;
$small-value: 8px;
$medium-value: 12px;
$large-value: 24px;


body {
  background:$smooth-black;
  text-align:center;
  font-family: $font-default;
  color:$white;
}

canvas {
  position: fixed;
  top:0;
  left:0;
}

button,a {
  cursor:pointer;
}

* {
	cursor: url('../images/curseur.png'), auto;
}
