body {
  margin:0;
  padding:0;
  background:black;
  text-align:center;
  overflow:hidden;
  overflow-y:scroll;
  font-family:arial, sans-serif;
  color:white;
}
.container {
  display:none;
}
#app {
  position:relative;
  z-index:1;
}
canvas {
  position: fixed;
  top:0;
  left:0;
}
.primary-footer {
  bottom:15px;
  right:15px;
}
.primary-nav {
  left:15px;
  top:15px;
}
.before-canvas {
  z-index:5;
  position:absolute;
}
button,a {
  cursor:pointer;
}
.button {
  font-size:30px;
  display:inline;
  margin:10px auto;
  padding:10px 25px;
  background:transparent;
  border:1px solid white;
  color:white;
  text-align:center;
  outline:none;
  &:hover {
    border:1px solid #b76340;
    color:#b76340;
  }
  &:focus {
    border-color:#333;
  }
}

ul li {
  display:inline-block;
  margin:0;
  list-style-type:none;
  .button {
    font-size:15px;
  }
}
.errors {
  font-family: arial, sans-serif;
  color:red;
  font-size:20px;
  padding:10px 0;
}

#room-menu {
  position:fixed;
  bottom:15px;
  left:15px;
  z-index:10;
}