body {
  margin:0;
  padding:10px;
  background:black;
}

canvas {
  position:fixed;
  top:0;
  left:0;
}

#connected {
  position:fixed;
  top:0;
  right:0;
  background:green;
  width:150px;
  height:250px;
}
