/**
 * Config
 *
 * Global theme of the website
 */

@import 'config/reset';
@import 'config/colors';
@import 'config/typography';
@import 'config/variables';

/**
 * Components
 *
 */

@import 'components/containers';
@import 'components/buttons';
@import 'components/lists';

body {
  font-size:$font-size-default;
  font-family: $font-default;
  font-weight:400;
  letter-spacing:2px;

  background:$background;
  text-align:center;
  color:$white;
  overflow:hidden;
  //cursor: url('../images/curseur.png'), auto;
}

canvas {
  position: fixed;
  top:0;
  left:0;
}

#app {
  position:relative;
  z-index:1;
}

.nav-room {
  opacity:0;

  .back-to-map {
    left:$medium-value;
    top:$medium-value;
  }

  .share-room {
    right:$medium-value;
    top:$medium-value;
  }
}

.primary-footer {
  bottom:$medium-value;
  right:$medium-value;
  .btn-ui {
    margin-bottom:0.5rem;
  }
}

.errors {
  font-family: arial, sans-serif;
  color:red;
  font-size:20px;
  padding:10px 0;
}

#flash-message {
  position:fixed;
  z-index:1000;
  top:100px;
  left:50px;
  height:300px;
  width:200px;
  pointer-events: none;
  text-align:left;
  li {
    box-sizing: border-box;
    padding:10px;
    transition:opacity 0.5s;
    background:orange;
    font-weight:bold;
    margin-bottom:10px;
    display:block;
  }
}

#username-box {
  width:300px;
  position:fixed;
  display:none;
  height:100px;
  background:rgba(0,0,0,0.7);
  z-index:10;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/*********************

PARTS

*********************/

.username-form {
  position:absolute;
  bottom:10rem;
  left:0;
  right:0;
  margin:auto;
  width:250px;
  input {
    border:none;
    border-bottom: 1px solid $white;
    padding:0.5rem 0;
    font-size:1rem;
    margin-bottom: 2rem;
  }

  input,button {
    outline:none;
    text-align:center;
    color:$white;
    background:transparent;
    display: block;
    width:100%;
  }
}

#home {
  .home-to-start {
    position:absolute;
    bottom:10rem;
    margin: auto;
  }
}
