<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/compressed/main.css">
  <title>RE-SET</title>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/vendors/stats.js"></script>
  <script>
    var port = window.location.port != '' ? ':' + window.location.port : '';
    var socket = io.connect(window.location.hostname + port);
    var stats = new Stats();
    var roomId = <% if(room) { %> '<%- room %>'<% } else { %> null <% } %>;
    const PUBLIC_PATH = "/public/";
  </script>
  <ul id="flash-message"></ul>

  <!-- GLOBAL NAV -->

  <nav class="nav-room">
    <div class="back-to-map before-canvas">
      <button class="btn-ui navigator-link" data-target="map">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
          <title>back</title>
          <path d="M6.5,10.35a.5.5,0,0,1-.34-.14l-2-1.9a.5.5,0,0,1,0-.73l2-1.8a.5.5,0,0,1,.67.74L5.24,8,6.84,9.49a.5.5,0,0,1-.34.86Z"/>
          <path d="M10.5,8.45h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"/>
        </svg>
      </button>
    </div>

    <!-- NAV ROOM -->

    <div class="share-room before-canvas">
      <button class="btn-ui sharer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
          <title>share</title>
          <path d="M11.22,9.54a2.15,2.15,0,0,0-1.59.71L5.85,8.16A1.94,1.94,0,0,0,5.85,7L9.63,4.91a2.16,2.16,0,1,0-.57-1.45A2.14,2.14,0,0,0,9.15,4L5.37,6.13A2.17,2.17,0,1,0,5.37,9l3.77,2.09a2.14,2.14,0,0,0-.09.58,2.17,2.17,0,1,0,2.17-2.17ZM10.06,3.46a1.17,1.17,0,1,1,1.17,1.17,1.14,1.14,0,0,1-.66-.23,1.14,1.14,0,0,1-.49-.87S10.06,3.48,10.06,3.46ZM3.78,8.75a1.17,1.17,0,1,1,0-2.33,1.14,1.14,0,0,1,.66.23,1.14,1.14,0,0,1,.49.87v.13a1.14,1.14,0,0,1-.49.87A1.14,1.14,0,0,1,3.78,8.75Zm7.45,4.13a1.17,1.17,0,0,1-1.17-1.17s0,0,0-.07a1.21,1.21,0,0,1,1.15-1.1,1.17,1.17,0,0,1,0,2.33Z"/>
        </svg>
      </button>
      <!--<div class="share-url">-->
      <!--<div class="current-url"></div>-->
      <!--<button class="copy-url">Copy</button>-->
      <!--<a href="https://www.facebook.com/sharer/sharer.php?u=" class="sharer" target="_blank">facebook</a>-->
      <!--<a href="https://twitter.com/intent/tweet?text=I need help here! " class="sharer" target="_blank">twitter</a>-->
      <!--</div>-->
    </div>
  </nav>

  <!-- FOOTER -->
  <footer class="primary-footer before-canvas">
    <button class="btn-ui sound">
      <span>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
            <title>sound</title>
            <path style="mix-blend-mode: difference" d="M5.5,10.7a.5.5,0,0,1-.5-.5v-4a.5.5,0,0,1,1,0v4A.5.5,0,0,1,5.5,10.7Z"/>
            <path style="mix-blend-mode: difference"  d="M3.5,9.7A.5.5,0,0,1,3,9.2v-2a.5.5,0,0,1,1,0v2A.5.5,0,0,1,3.5,9.7Z"/>
            <path style="mix-blend-mode: difference"  d="M7.5,12.7a.5.5,0,0,1-.5-.5v-8a.5.5,0,0,1,1,0v8A.5.5,0,0,1,7.5,12.7Z"/>
            <path style="mix-blend-mode: difference"  d="M11.5,9.7a.5.5,0,0,1-.5-.5v-2a.5.5,0,1,1,1,0v2A.5.5,0,0,1,11.5,9.7Z"/>
            <path style="mix-blend-mode: difference"  d="M9.5,10.7a.5.5,0,0,1-.5-.5v-4a.5.5,0,0,1,1,0v4A.5.5,0,0,1,9.5,10.7Z"/>
        </svg>

      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
            <title>sound2</title>
            <circle cx="3.5" cy="7.35" r="0.5"/>
            <circle cx="5.5" cy="7.35" r="0.5"/>
            <circle cx="7.5" cy="7.35" r="0.5"/>
            <circle cx="9.5" cy="7.35" r="0.5"/>
            <circle cx="11.5" cy="7.35" r="0.5"/>
        </svg>

      </span>
    </button>

    <button class="btn-ui about navigator-link" data-target="about">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
        <title>about</title>
        <path d="M6.79,9a2.69,2.69,0,0,1,.16-1,2.67,2.67,0,0,1,.62-.83,4.74,4.74,0,0,0,.59-.64,1.13,1.13,0,0,0,.19-.63,1,1,0,0,0-.22-.69.86.86,0,0,0-.65-.24.94.94,0,0,0-.66.23.81.81,0,0,0-.25.63H5.4A1.71,1.71,0,0,1,6,4.43a2.21,2.21,0,0,1,1.5-.49A2.15,2.15,0,0,1,9,4.43a1.75,1.75,0,0,1,.54,1.37,2.24,2.24,0,0,1-.73,1.54l-.59.58a1.58,1.58,0,0,0-.33,1Zm-.08,1.49A.61.61,0,0,1,6.89,10a.74.74,0,0,1,1,0,.61.61,0,0,1,.18.45.6.6,0,0,1-.17.44.65.65,0,0,1-.49.18.64.64,0,0,1-.49-.18A.61.61,0,0,1,6.71,10.45Z"/>
        <path d="M7.5,15,1,11.26V3.74L7.5,0,14,3.74v7.53ZM2,10.7,7.5,13.84,13,10.7V4.3L7.5,1.16,2,4.3Z"/>
      </svg>
    </button>

    <button class="btn-ui fullscreen">
      <span>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
            <title>fullscreen</title>
            <path d="M2,5a.5.5,0,0,1-.5-.5V2A.5.5,0,0,1,2,1.5H4.5a.5.5,0,0,1,0,1h-2v2A.5.5,0,0,1,2,5Z"/>
            <path d="M13,5a.5.5,0,0,1-.5-.5v-2h-2a.5.5,0,0,1,0-1H13a.5.5,0,0,1,.5.5V4.5A.5.5,0,0,1,13,5Z"/>
            <path d="M13,13.5H10.5a.5.5,0,0,1,0-1h2v-2a.5.5,0,0,1,1,0V13A.5.5,0,0,1,13,13.5Z"/>
            <path d="M4.5,13.5H2a.5.5,0,0,1-.5-.5V10.5a.5.5,0,0,1,1,0v2h2a.5.5,0,0,1,0,1Z"/>
        </svg>


      </span>
      <span>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
            <title>fullscreen2</title>
            <path d="M2,5a.5.5,0,0,1-.5-.5V2A.5.5,0,0,1,2,1.5H4.5a.5.5,0,0,1,0,1h-2v2A.5.5,0,0,1,2,5Z"/>
            <path d="M13,5a.5.5,0,0,1-.5-.5v-2h-2a.5.5,0,0,1,0-1H13a.5.5,0,0,1,.5.5V4.5A.5.5,0,0,1,13,5Z"/>
            <path d="M13,13.5H10.5a.5.5,0,0,1,0-1h2v-2a.5.5,0,0,1,1,0V13A.5.5,0,0,1,13,13.5Z"/>
            <path d="M4.5,13.5H2a.5.5,0,0,1-.5-.5V10.5a.5.5,0,0,1,1,0v2h2a.5.5,0,0,1,0,1Z"/>
            <rect x="4.3" y="4.2" width="6.3" height="6.3"/>
            <path d="M10.6,11H4.3a.5.5,0,0,1-.5-.5V4.2a.5.5,0,0,1,.5-.5h6.3a.5.5,0,0,1,.5.5v6.3A.5.5,0,0,1,10.6,11ZM4.8,10h5.3V4.7H4.8Z"/>
        </svg>

      </span>
    </button>
  </footer>

  <!-- APP -->

  <div id="app">
    <%- body %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
  <script src="/public/compressed/main.js"></script>
 </body>
 </html>
