<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/compressed/main.css">
  <title>RE-SET</title>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/vendors/stats.js"></script>
  <script>
    var port = window.location.port != '' ? ':' + window.location.port : '';
    var socket = io.connect(window.location.hostname + port);
    var stats = new Stats();
    var roomId = <% if(room) { %> '<%- room %>'<% } else { %> null <% } %>;
    const PUBLIC_PATH = "/public/";
  </script>
  <ul id="flash-message"></ul>

  <!-- GLOBAL NAV -->

  <nav class="nav-room">
    <div class="back-to-map before-canvas">
      <button class="btn-ui navigator-link" data-target="map">&times;</button>
    </div>

    <!-- NAV ROOM -->

    <div class="share-room before-canvas">
      <button class="btn-ui sharer">&times;</button>
      <!--<div class="share-url">-->
      <!--<div class="current-url"></div>-->
      <!--<button class="copy-url">Copy</button>-->
      <!--<a href="https://www.facebook.com/sharer/sharer.php?u=" class="sharer" target="_blank">facebook</a>-->
      <!--<a href="https://twitter.com/intent/tweet?text=I need help here! " class="sharer" target="_blank">twitter</a>-->
      <!--</div>-->
    </div>
  </nav>

  <!-- FOOTER -->
  <footer class="primary-footer before-canvas">
    <button class="btn-ui sound">
      &times;
    </button>
    <button class="btn-ui fullscreen">
      &times;
    </button>
    <button class="btn-ui about navigator-link" data-target="about">
      &times;
    </button>
  </footer>

  <!-- APP -->

  <div id="app">
    <%- body %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
  <script src="/public/compressed/main.js"></script>
 </body>
 </html>
