<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/compressed/main.css">
  <title>RE-SET</title>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/vendors/stats.js"></script>
  <script>
    var port = window.location.port != '' ? ':' + window.location.port : '';
    var socket = io.connect(window.location.hostname + port);
    var stats = new Stats();
    var roomId = <% if(room) { %> '<%- room %>'<% } else { %> null <% } %>;
    const PUBLIC_PATH = "/public/";
  </script>
  <ul id="flash-message"></ul>
  <nav class="primary-nav before-canvas">
    <button href="/" data-target="home" class="button navigator-link">Home</button>
    <button class="button navigator-map">Back to map</button>
  </nav>

  <footer class="primary-footer before-canvas">
    <button data-target="about"  class="button navigator-link">About</button>
  </footer>
  <div id="app">
    <%- body %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
  <script src="/public/compressed/main.js"></script>
 </body>
 </html>
