.btn {
	font-size: 0.75rem;
  	display: inline-block;
	height:3rem;
	line-height:3rem;
	min-width:2rem;
	margin: $medium-value auto;
	text-align:center;
	border:none;
	background:transparent;
	text-transform: uppercase;
	outline:none;
	opacity:1;
}
.btn-interaction, .user-interaction {
	display: inline-block;
	height:3rem;
	line-height:3rem;
	min-width:3rem;
	margin:0;
	text-align:center;
	border:none;
	background:transparent;
	text-transform: uppercase;
	outline:none;
	opacity:0.8;
	background:$orange;
	border-radius:50%;
	position:absolute;
	svg {
		@include transition-css();
		height:1.5rem;
		width:1.5rem;
		margin-top:0.75rem;
	}
}

.btn-interaction {
	svg path,svg circle {
		fill:$white;
	}
	svg {
		opacity:0.5;
	}

	&:hover svg {
		opacity:1;
	}
}

.user-interaction {
	svg path,svg circle {
		fill:$white;
	}
}

.btn-ui {
	display:block;
	padding:0;
	margin:0;
	background:transparent;
	border:none;
	height:2rem;
	width:2rem;
	position:relative;

	color:$orange;
	font-size:2rem;
	line-height:2rem;
	text-align:center;

	overflow:hidden;
	outline:none;

	span {
		height:2rem;
		width:2rem;
		display:block;
	}
	svg {
		height:1.5rem;
		width:1.5rem;
		fill:$orange;
	}
	&.sound {
		span {
			will-change:height;
			position:absolute;
			top:0;
			bottom:0;
			margin:auto;
			overflow:hidden;
			animation-name:sound-button;
			animation-duration:1s;
			animation-iteration-count: infinite;
		}
		svg {
			position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    margin: auto;
		}
		&.mute {
			span {
				animation-iteration-count: 1;
				height:2px !important;
			}
		}
	}
}

.go-home .btn-ui {
	height:5rem;
	width:5rem;
	svg {
		height:4rem;
		width:4rem;
	}
}

.back-to-map button {
	overflow:inherit;
	p {

		left:2.5rem;
		position:absolute;
		font-size: .75rem;
    text-transform: uppercase;
    line-height: 2.1rem;
		font-weight:bold;
		opacity:0;
		pointer-events: none;
		@include transition-css();
	}
	&:hover {
		p {
			opacity:1;
		}
	}
	background:url(/public/images/number-background.svg);
	background-size:100% 100%;
}

.bolditalic {
	font-weight:700;
	font-style:italic;
}
.flex {
	display:flex;
}
.bold {
	font-weight:700;
}
.text-uppercase {
	text-transform: uppercase;
}
.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.picto {
	height:3rem;
	line-height:3rem;
	min-width:3rem;
	display:block;
	svg {
		height:2rem;
		width:2rem;
	}
	svg path {
		fill:$white;
	}
}
