.btn {
	font-size: 0.75rem;
  	display: inline-block;
	height:3rem;
	line-height:3rem;
	min-width:2rem;
	margin: $medium-value auto;
	text-align:center;
	border:none;
	background:transparent;
	text-transform: uppercase;
	outline:none;
	opacity:1;
}
.btn-interaction, .user-interaction {
	display: inline-block;
	height:3rem;
	line-height:3rem;
	min-width:3rem;
	margin:0;
	text-align:center;
	border:none;
	background:transparent;
	text-transform: uppercase;
	outline:none;
	opacity:1;
	background:$orange-dark;
	border-radius:50%;
	position:absolute;
	svg {
		@include transition-css();
		height:1.5rem;
		width:1.5rem;
		margin-top:0.75rem;
	}
	svg path,svg circle {
		fill:$white;
	}

	&:hover svg {
		opacity:0.5;
	}
}
.btn-ui {
	display:block;
	padding:0;
	margin:0;
	background:transparent;
	border:none;
	height:2rem;
	width:2rem;
	position:relative;

	color:$orange;
	font-size:2rem;
	line-height:2rem;
	text-align:center;

	overflow:hidden;
	outline:none;

	span {
		height:2rem;
		width:2rem;
		display:block;
	}
	svg {

		height:1.5rem;
		width:1.5rem;
		fill:$orange;
	}
}

.go-home .btn-ui {
	height:5rem;
	width:5rem;
	svg {
		height:4rem;
		width:4rem;
	}
}

.back-to-map button {
	background:url(/public/images/number-background.svg);
	background-size:100% 100%;
}

.bolditalic {
	font-weight:700;
	font-style:italic;
}
.bold {
	font-weight:700;
}
.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.user-interaction {
	position:fixed;
	background:$orange;
	mix-blend-mode: none;
	opacity:0;
	margin-top:25px;
	&:hover svg {
		opacity:1;
	}
}
.interactions {
	position:absolute;
	z-index:10000;
	width:11.5rem;
	height:5.5rem;
	opacity:0;
	pointer-events:none;

	.btn-interaction {
		opacity:0;
	}
	&.active {
		pointer-events: auto;
		opacity:1;
	}
	mix-blend-mode: difference;
	.btn-interaction:nth-of-type(1) {
		left:0;
		top:2.5rem;
	}
	.btn-interaction:nth-of-type(2) {
		left:2.5rem;
		top:0;
	}
	.btn-interaction:nth-of-type(3) {
		right:2.5rem;
		top:0;
	}
	.btn-interaction:nth-of-type(4) {
		right:0;
		top:2.5rem;
	}
}
