section {
    display:none;
}

.before-canvas {
    z-index:5;
    position:absolute;
}

.full-height {
    height:100vh;
}

.container {
    @extend .full-height;
    position:relative;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index:10;
}

#flash-message {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    pointer-events: none;
    text-align:left;
    mix-blend-mode: difference;
    li {
        box-sizing: border-box;
        font-style:italic;
        display:block;
        color:$white;
        position:absolute;
    }
    li.too-heavy {
      height:3rem;
      width:3rem;
      line-height: 3rem;
      p {
        width:3rem;
        height:3rem;
        text-align:center;
        position:absolute;
        z-index:5;
      }
      svg {
        z-index:2;
        position:absolute;
        top:0;
        left:0;
        fill:$orange;
        height:3rem;
        width:3rem;
      }
    }
}

#canvas-container {
    @extend .container;
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:5;
}
