<div id="about" class="container">
    <h1>About</h1>
</div>
<div id="home" class="container">
    <h1>Home</h1>
    <button class="start-tutorial button navigator-link" data-target="tutorial">Start experience</button>
</div>

<div id="tutorial" class="container">
    <%- include('username-form') %>
</div>

<div id="room-menu">
    <button class="button navigator-map">Back to map</button>
    <button class="button send-help">Help!</button>
    <button class="button show-sharer">Share</button>
    <div class="share-url">
        <div class="current-url"></div>
        <button class="copy-url">Copy</button>
        <a href="https://www.facebook.com/sharer/sharer.php?u=" class="sharer" target="_blank">facebook</a>
        <a href="https://twitter.com/intent/tweet?text=I need help here! " class="sharer" target="_blank">twitter</a>
    </div>
</div>
<div id="canvas-container" class="container">

</div>

<script id="vshader" type="x-shader/x-vertex">

	varying vec2 vUv;

	void main() {

	  vUv = uv;

	  gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
	}
</script>
<script id="fshader" type="x-shader/x-fragment">

	uniform float whitePath;
	varying vec2 vUv;

	void main() {
		if (vUv.y > whitePath) {
			gl_FragColor = vec4(0.1, 0.1, 0.1, 1.0);
		} else {
	  		gl_FragColor = vec4(1, 1, 1, 1.0);
	  }
	}
</script>
