<section id="home" class="container">
    <div class="home-landing container">
        <button class="btn home-to-start">▼</button>
    </div>
    <div class="home-start container">
        <%- include('username-form') %>
    </div>
</section>

<section id="about" class="container">
    <h1>About</h1>
</section>

<div id="username-box">
    <%- include('username-form') %>
</div>

<section id="canvas-container" class="container"></section>

<script id="vshader" type="x-shader/x-vertex">

	varying vec2 vUv;

	void main() {

	  vUv = uv;

	  gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
	}
</script>
<script id="fshader" type="x-shader/x-fragment">

	uniform float whitePath;
	varying vec2 vUv;

	void main() {
		if (vUv.y > whitePath) {
			gl_FragColor = vec4(0.1, 0.1, 0.1, 1.0);
		} else {
	  		gl_FragColor = vec4(1, 1, 1, 1.0);
	  }
	}
</script>
