<section id="home" class="container">
    <div class="home-landing container">
        <button class="btn home-to-start">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                <path d="M7.83.81v1A3.22,3.22,0,0,1,11,5v5a3.21,3.21,0,1,1-6.42,0V5a3.21,3.21,0,0,1,3.2-3.22v-1m0,0h0A4.21,4.21,0,0,0,3.62,5v5a4.21,4.21,0,0,0,4.21,4.2h0A4.21,4.21,0,0,0,12.05,10V5A4.21,4.21,0,0,0,7.83.81Z"/>
                <path d="M7.71,6c-.28,0-.5-.06-.5-.33V4.35a.47.47,0,0,1,.5-.46.52.52,0,0,1,.5.52V5.65c0,.28-.22.35-.5.35Z"/>
            </svg>

            <svg class="arrow-scroll" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                <path d="M10.93,6.21a.72.72,0,0,1-.2.5L8,9.63a.73.73,0,0,1-1.07,0L4.26,6.7a.73.73,0,1,1,1.08-1l2.1,2.33L9.67,5.71a.73.73,0,0,1,1.26.5Z"/>
            </svg>
            <svg class="arrow-scroll" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                <path d="M10.93,6.21a.72.72,0,0,1-.2.5L8,9.63a.73.73,0,0,1-1.07,0L4.26,6.7a.73.73,0,1,1,1.08-1l2.1,2.33L9.67,5.71a.73.73,0,0,1,1.26.5Z"/>
            </svg>
        </button>
    </div>
    <div class="home-start container">
        <div class="form username-form">
            <div class="input-validator">
                <span class="error">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                    <path d="M8.38,7.51,9.94,6a.62.62,0,0,0-.88-.88L7.5,6.63,5.94,5.07A.62.62,0,0,0,5.06,6L6.62,7.51,5.06,9.07a.62.62,0,1,0,.88.88L7.5,8.39,9.06,10a.62.62,0,0,0,.88-.88Z"/>
                    </svg>
                </span>
                <span class="validated">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                       <path d="M6.84,15l-5.2-4.5a1.15,1.15,0,0,1-.1-1.7h0a1.16,1.16,0,0,1,1.7-.1l3.3,2.9c.5.4,1,.73,1.7-.1l6.3-7a1.16,1.16,0,0,1,1.7-.1h0a1.16,1.16,0,0,1,.1,1.7l-7.9,8.8A1.11,1.11,0,0,1,6.84,15Z"/>
                     </svg>
                </span>
            </div>
            <input type="text" name="name" class="unselectable user-new-name" onselectstart="return false;" placeholder="Enter your name" />
            <div class="errors unselectable"></div>
            <p class="unselectable">Drag to join Reset</p>
            <div class="enter-reset">
                <div class="draggable">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                        <path d="M13,22.87a.5.5,0,0,1-.25-.07l-8-4.62a.5.5,0,0,1-.25-.43V8.52a.5.5,0,0,1,.25-.43l8-4.62a.5.5,0,0,1,.5,0l8,4.62a.5.5,0,0,1,.25.43v9.24a.5.5,0,0,1-.25.43l-8,4.62A.5.5,0,0,1,13,22.87ZM5.5,17.47,13,21.8l7.5-4.33V8.81L13,4.48,5.5,8.81Zm15.5.29h0Z"/>
                        <path d="M12.5,10v5l-1.05-1.15a.54.54,0,0,0-.76,0,.53.53,0,0,0,0,.75l1.91,2.12a.53.53,0,0,0,.78,0l2-2.12a.53.53,0,0,0,0-.75.55.55,0,0,0-.76,0l-1.06,1.1V10a.5.5,0,1,0-1,0Z"/>
                    </svg>
                </div>

                <div class="draggable-background"></div>
                <div class="draggable-ending"></div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="container">
  <div style="z-index:10;position:relative">
  <div class="about-first">
    <button class="close-about btn-ui">&times;</button>
    <div class="picto">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
        <path d="M6.79,9a2.69,2.69,0,0,1,.16-1,2.67,2.67,0,0,1,.62-.83,4.74,4.74,0,0,0,.59-.64,1.13,1.13,0,0,0,.19-.63,1,1,0,0,0-.22-.69.86.86,0,0,0-.65-.24.94.94,0,0,0-.66.23.81.81,0,0,0-.25.63H5.4A1.71,1.71,0,0,1,6,4.43a2.21,2.21,0,0,1,1.5-.49A2.15,2.15,0,0,1,9,4.43a1.75,1.75,0,0,1,.54,1.37,2.24,2.24,0,0,1-.73,1.54l-.59.58a1.58,1.58,0,0,0-.33,1Zm-.08,1.49A.61.61,0,0,1,6.89,10a.74.74,0,0,1,1,0,.61.61,0,0,1,.18.45.6.6,0,0,1-.17.44.65.65,0,0,1-.49.18.64.64,0,0,1-.49-.18A.61.61,0,0,1,6.71,10.45Z"/>
        <path d="M7.5,15,1,11.26V3.74L7.5,0,14,3.74v7.53ZM2,10.7,7.5,13.84,13,10.7V4.3L7.5,1.16,2,4.3Z"/>
      </svg>
    </div>
    <p class="about-title text-uppercase">Help</p>

    <div class="help-rules">
      <div class="rule">
        <div class="picto">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.49 20.24"><title>help_switch</title><path d="M43.35,18.23h-.07a8.08,8.08,0,0,1-3-1,.5.5,0,0,1,.5-.86,7.09,7.09,0,0,0,2.64.9.5.5,0,0,1-.06,1Zm4.83-.95a.5.5,0,0,1-.25-.93A7.17,7.17,0,0,0,50,14.51a.5.5,0,0,1,.79.61,8.17,8.17,0,0,1-2.4,2.09A.5.5,0,0,1,48.18,17.28ZM37.27,13.55a.5.5,0,0,1-.46-.31,8.13,8.13,0,0,1-.62-3.12.53.53,0,0,1,.5-.54.47.47,0,0,1,.5.46v.07a7.13,7.13,0,0,0,.54,2.74.5.5,0,0,1-.46.69ZM52,10.64a.48.48,0,0,1-.5-.48v0A7.14,7.14,0,0,0,51,7.41.5.5,0,1,1,51.93,7a8.13,8.13,0,0,1,.6,3.09A.52.52,0,0,1,52,10.64ZM38.32,5.9a.5.5,0,0,1-.39-.81A8.15,8.15,0,0,1,40.33,3a.5.5,0,1,1,.49.87,7.16,7.16,0,0,0-2.12,1.83A.5.5,0,0,1,38.32,5.9ZM48.24,4A.5.5,0,0,1,48,3.93,7.09,7.09,0,0,0,45.35,3a.5.5,0,1,1,.14-1,8.09,8.09,0,0,1,3,1,.5.5,0,0,1-.25.93Z"/><path d="M44.37,20.24H10.12A10.12,10.12,0,1,1,10.12,0H44.37a10.12,10.12,0,1,1,0,20.24ZM10.12,1a9.12,9.12,0,1,0,0,18.24H44.37A9.12,9.12,0,1,0,44.37,1Z"/><path d="M31.2,9.73,28.46,7.53a.5.5,0,0,0-.63.78l1.64,1.32H23.61a.5.5,0,1,0,0,1h5.86l-1.64,1.32a.5.5,0,0,0,.63.78l2.74-2.21a.5.5,0,0,0,0-.78Z"/>
          <path d="M10.37,2.62a7.5,7.5,0,1,0,7.5,7.5A7.5,7.5,0,0,0,10.37,2.62Zm-1,10.75a.48.48,0,0,1-1,0v-.66L6.69,14.44A.48.48,0,1,1,6,13.76L7.74,12H7.08a.48.48,0,1,1,0-1H8.91a.48.48,0,0,1,.48.48Zm0-4.75a.48.48,0,0,1-.48.48H7.08a.48.48,0,0,1,0-1h.66L6,6.4a.48.48,0,0,1,.68-.68L8.42,7.46V6.79a.48.48,0,0,1,1,0Zm.94,2.12a.66.66,0,1,1,.66-.66A.65.65,0,0,1,10.33,10.74Zm4.4,3.7a.48.48,0,0,1-.68,0l-1.73-1.73v.66a.48.48,0,0,1-1,0V11.54a.48.48,0,0,1,.48-.48h1.83a.48.48,0,1,1,0,1H13l1.73,1.73A.48.48,0,0,1,14.73,14.44Zm0-8L13,8.14h.66a.48.48,0,0,1,0,1H11.83a.48.48,0,0,1-.48-.48V6.79a.48.48,0,0,1,1,0v.66L14,5.72a.48.48,0,0,1,.68.68Z"/></svg>
        </div>
        <p>Stuck here? Ask for help</p>
      </div>
      <div class="rule">
          <div class="picto small">
            3
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                <title>number</title>
                <path d="M15,1.15,27,8.08V21.92L15,28.85,3,21.92V8.08L15,1.15M15,0,2,7.5v15L15,30l13-7.5V7.5L15,0Z"/>
            </svg>
          </div>
          <p>Too heavy? Need 3 players</p>
      </div>
      <div class="rule">
          <div class="picto">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.5 77.5"><defs><style>#about .cls-1{fill:none;stroke:white;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>obstacle</title><polygon class="cls-1" points="29.5 72.42 5.72 63.35 5.72 4.89 29.5 13.97 29.5 72.42"/><polygon class="cls-1" points="35.88 10.82 12.13 1.67 5.73 4.85 29.48 14 35.88 10.82"/><polygon class="cls-1" points="35.89 10.78 35.89 69.23 29.5 72.42 29.5 13.97 35.89 10.78"/><ellipse class="cls-1" cx="17.91" cy="51.17" rx="3.07" ry="3.4" transform="translate(-11.65 5.72) rotate(-13.75)"/></svg>
          </div>
          <p>Unblocks the obstacle</p>
      </div>
    </div>
  </div>
  <div class="about-second">
    <p class="about-title text-uppercase" data-target="1">About</p>
    <p class="about-title text-uppercase disabled" data-target="2">Credits</p>
    <div class="content">
      <ul class="dots-menu">
        <li data-target="1"></li>
        <li class="disable" data-target="2"></li>
      </ul>
      <div class="part part1" data-part="1">
        <div class="left">
          <img src="/public/images/picto/logo/logo_gris.png" alt="">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 150" xml:space="preserve">
          <g>
          	<g>
          		<path class="st0" d="M62.3,31.5c0-7,5.7-12.8,12.8-12.8c7.1,0,12.8,5.7,12.8,12.8c0,7-5.7,12.7-12.8,12.7
          			C68,44.3,62.2,38.6,62.3,31.5z M75,34.3c1.6,0,2.8-1.2,2.9-2.8c0-1.5-1.2-2.8-2.8-2.8c-1.6,0-2.8,1.2-2.8,2.8
          			C72.3,33.1,73.5,34.3,75,34.3z"/>
          		<path class="st0" d="M65.4,42.9C65.2,43,65.1,43,65,43.1c-0.5,0.4-1,0.7-1.4,1.2c-0.7,0.7-0.6,1.7,0.1,2.4c0.5,0.5,1.1,0.8,1.7,1
          			c4.1,1.2,8.2,2.5,12.3,3.7c1.8,0.5,3.5,1.1,5.2,1.7c1,0.4,2,0.8,2.9,1.4c3.1,2.1,4.2,5.1,3.6,8.7c-0.5,2.9-2.1,4.9-4.7,6.2
          			c0,0-0.1,0.1-0.1,0.1c-0.1,0-0.3,0-0.4,0c0.1-0.1,0.2-0.2,0.3-0.2c0.4-0.3,0.8-0.5,1.2-0.7c0.4-0.3,0.8-0.7,1.1-1.1
          			c0.7-0.9,0.6-1.8-0.2-2.6c-0.5-0.5-1.1-0.8-1.8-1c-3.8-1.1-7.5-2.3-11.3-3.4c-2-0.6-4-1.2-6-1.9c-1.9-0.6-3.6-1.6-4.9-3.1
          			c-3-3.3-2.8-9.7,2.2-12.5c0.2-0.1,0.3-0.1,0.5-0.2C65.3,42.8,65.3,42.8,65.4,42.9z"/>
          		<path class="st0" d="M24.4,124c0.1-4.2,3.7-7.6,7.9-7.2c0.6,0.1,1.3,0.3,1.9,0.4c0.3,0.1,0.4,0.2,0.3,0.6
          			c-0.2,0.4-0.4,0.8-0.5,1.3c-0.1,0.4-0.3,0.4-0.7,0.3c-2.2-0.7-4.5,0.1-5.7,2.1c-1.9,3,0,7,3.6,7.5c1.2,0.1,2.2-0.1,3.2-0.7
          			c0.3-0.2,0.4-0.1,0.6,0.1c0.3,0.4,0.6,0.8,1,1.1c0.3,0.3,0.2,0.4-0.1,0.6c-1.5,1-3.1,1.4-4.9,1.2c-3.1-0.4-5.6-2.6-6.3-5.6
          			C24.5,125,24.5,124.5,24.4,124z"/>
          		<path class="st0" d="M32.2,75.1c-0.8,0-1.5,0-2.2,0c-0.1,0-0.2-0.1-0.3-0.2c-1.1-1.2-2.7-1.5-4.1-0.8c-1.4,0.7-2.2,2.4-1.8,4
          			c0.4,1.6,1.7,2.7,3.3,2.7c1.2,0,2.1-0.4,2.9-1.3c0.1-0.1,0.2-0.3,0.3-0.5c-0.2,0-0.4,0-0.6,0c-1.1,0-2.1,0-3.2,0
          			c-0.3,0-0.5-0.1-0.5-0.5c0-1.3,0-1.3,1.3-1.3c1.6,0,3.2,0,4.8,0c0.5,0,0.6,0,0.5,0.6c-0.1,2.2-1.9,4.2-4.2,4.7
          			c-3.2,0.7-6.2-1.4-6.6-4.7c-0.3-2.1,1-4.3,3.1-5.3c2.4-1.1,5.3-0.3,6.8,1.8C31.9,74.5,32,74.7,32.2,75.1z"/>
          		<path class="st0" d="M107.9,75.1c0,0.2,0,0.3,0,0.5c0,2,0,4,0,6.1c0,0.6,0,0.6-0.6,0.6c-0.3,0-0.6,0-0.9,0c-0.3,0-0.4-0.1-0.3-0.4
          			c0-0.1,0-0.2,0-0.2c0-3,0-6,0-9c0-0.6,0-0.6,0.6-0.6c0.5,0,1.1-0.1,1.5,0.1c0.4,0.2,0.6,0.8,0.8,1.3c1,1.8,2,3.6,3.1,5.4
          			c0.1,0.1,0.2,0.3,0.3,0.4c0,0,0.1,0,0.1,0c0-0.2,0-0.3,0-0.5c0-2,0-4.1,0-6.1c0-0.5,0-0.5,0.5-0.5c0.3,0,0.6,0,0.9,0
          			c0.3,0,0.4,0.1,0.4,0.4c0,0,0,0.1,0,0.1c0,3,0,6,0,9.1c0,0.6,0,0.6-0.5,0.6c-0.5,0-1.1,0.1-1.5-0.1c-0.4-0.2-0.6-0.8-0.8-1.2
          			c-1.1-1.8-2.1-3.6-3.1-5.5c-0.1-0.1-0.2-0.3-0.3-0.4C107.9,75.1,107.9,75.1,107.9,75.1z"/>
          		<path class="st0" d="M48.9,77.3c0,2.9-2.4,5.2-5.3,5.2c-2.9,0-5.3-2.4-5.3-5.3c0-2.9,2.4-5.3,5.4-5.3
          			C46.5,71.9,48.9,74.3,48.9,77.3z M43.5,73.7c-1.9,0-3.4,1.6-3.4,3.5c0,1.9,1.5,3.5,3.4,3.5c1.9,0,3.4-1.6,3.4-3.5
          			C47,75.2,45.4,73.7,43.5,73.7z"/>
          		<path class="st0" d="M60.4,76.7c0.1,0.1,0.2,0.1,0.2,0.2c1.1,0.6,1.5,1.5,1.4,2.7c-0.1,1.2-0.7,2-1.8,2.4
          			c-0.5,0.2-1.1,0.3-1.6,0.3c-0.9,0.1-1.8,0-2.8,0c-0.3,0-0.5-0.1-0.5-0.5c0-3.1,0-6.2,0-9.2c0-0.4,0.1-0.5,0.5-0.5
          			c1.1,0,2.2,0,3.3,0.1c1.4,0.2,2.3,1.4,2.2,2.8C61.4,75.7,61,76.3,60.4,76.7z M57.2,79.2c0,0.3,0,0.7,0,1c0,0.1,0.2,0.3,0.3,0.3
          			c0.5,0,1.1,0,1.6-0.1c0.7-0.1,1-0.6,1-1.2c0-0.6-0.3-1.1-0.9-1.2c-0.5-0.1-1-0.1-1.6-0.1c-0.1,0-0.3,0.2-0.3,0.3
          			C57.2,78.5,57.2,78.8,57.2,79.2z M57.2,75C57.2,75,57.2,75,57.2,75c0,0.2,0,0.5,0,0.7c0,0.2,0.1,0.4,0.4,0.3c0.4,0,0.8,0,1.2-0.1
          			c0.4-0.1,0.7-0.4,0.7-0.9c0-0.7-0.4-1.1-1.3-1.2c-1,0-0.8,0-0.8,0.9C57.2,74.9,57.2,74.9,57.2,75z"/>
          		<path class="st0" d="M127.1,74.8c-0.1,0-0.2,0-0.3,0c-0.4,0-0.6,0-0.7-0.5c-0.1-0.5-0.5-0.7-1.1-0.6c-0.4,0-0.8,0.3-0.9,0.7
          			c-0.2,0.5,0,1,0.4,1.3c0.3,0.2,0.6,0.3,0.8,0.4c0.4,0.2,0.8,0.3,1.2,0.5c1.6,0.8,2.2,2.3,1.6,4c-0.5,1.4-2.1,2.3-3.6,2
          			c-1.4-0.3-2.5-1.2-2.7-2.5c-0.1-0.5,0-0.6,0.5-0.6c0.2,0,0.4,0,0.6,0c0.5,0,0.9,0,1.1,0.6c0.1,0.6,0.7,0.8,1.4,0.7
          			c0.6-0.1,1-0.5,1.1-0.9c0.1-0.6-0.1-1.2-0.6-1.5c-0.4-0.2-0.7-0.3-1.1-0.5c-0.3-0.1-0.5-0.2-0.8-0.3c-1.8-0.8-2-2.6-1.5-3.8
          			c0.6-1.4,2.3-2.1,3.8-1.5c1,0.4,1.7,1.1,1.9,2.2c0.1,0.4,0,0.5-0.4,0.5C127.5,74.8,127.3,74.8,127.1,74.8z"/>
          		<path class="st0" d="M69.9,77.2c0-1.5,0-3,0-4.5c0-0.6,0-0.6,0.5-0.6c1.5,0,2.9,0,4.4,0c0.5,0,0.5,0,0.5,0.6c0,1.2,0,1.2-1.2,1.2
          			c-0.7,0-1.3,0-2,0c-0.3,0-0.4,0.1-0.4,0.4c0,0.5,0,1.1,0,1.6c0,0.3,0.1,0.4,0.4,0.4c0.8,0,1.7,0,2.5,0c0.4,0,0.5,0.1,0.5,0.5
          			c0,0.3,0,0.6,0,0.9c0,0.3-0.1,0.4-0.4,0.4c-0.9,0-1.7,0-2.6,0c-0.4,0-0.5,0.1-0.5,0.5c0,0.5,0,1,0,1.5c0,0.3,0.1,0.4,0.4,0.4
          			c0.9,0,1.7,0,2.6,0c0.5,0,0.5,0,0.5,0.5c0,1.3,0,1.3-1.2,1.3c-1.2,0-2.5,0-3.7,0c-0.4,0-0.5-0.1-0.5-0.5
          			C69.9,80.3,69.9,78.7,69.9,77.2z"/>
          		<path class="st0" d="M27.8,124c0-2.6,2.5-4.5,5-3.7c0.5,0.1,0.5,0.2,0.3,0.6c-0.2,0.4-0.4,0.8-0.5,1.3c-0.1,0.3-0.2,0.4-0.5,0.3
          			c-1-0.1-1.8,0.5-1.8,1.5c0,1,0.7,1.7,1.8,1.6c0.3,0,0.5,0,0.7,0.3c0.3,0.4,0.6,0.7,0.9,1c0.3,0.4,0.3,0.4-0.1,0.6
          			c-2,1-4.5,0.1-5.3-1.9c-0.1-0.2-0.2-0.5-0.2-0.8C27.9,124.5,27.9,124.2,27.8,124z"/>
          		<path class="st0" d="M83.3,77.2c0-1.5,0-3,0-4.5c0-0.5,0-0.5,0.6-0.5c0.3,0,0.6,0,0.8,0c0.4,0,0.5,0.1,0.5,0.5c0,2.4,0,4.8,0,7.2
          			c0,0.6,0,0.6,0.7,0.6c0.7,0,1.3,0,2,0c0.3,0,0.5,0.1,0.5,0.4c0,0.3,0,0.7,0,1c0,0.2-0.1,0.4-0.3,0.4c-1.4,0-2.8,0-4.2,0
          			c-0.4,0-0.4-0.2-0.4-0.5C83.3,80.2,83.3,78.7,83.3,77.2z"/>
          		<path class="st0" d="M129.7,113.1c-36.2,0-72.5,0-108.8,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0c36.1,0,72.2,0,108.3,0
          			c0.1,0,0.1,0,0.2,0.1C129.7,113,129.7,113,129.7,113.1z"/>
          		<path class="st0" d="M95.6,77.2c0-1.5,0-3,0-4.5c0-0.6,0-0.6,0.6-0.6c0.3,0,0.6,0,0.8,0c0.4,0,0.5,0.1,0.5,0.5c0,2.1,0,4.2,0,6.2
          			c0,1,0,2,0,3c0,0.4-0.1,0.5-0.5,0.5c-0.3,0-0.6,0-0.9,0c-0.4,0-0.5-0.1-0.5-0.5C95.6,80.3,95.6,78.7,95.6,77.2z"/>
          		<path class="st0" d="M103.7,86.5c-0.6,1.5-1.3,3-1.9,4.5c-0.1,0.3-0.3,0.6-0.4,0.9c-0.1,0.2-0.2,0.4-0.5,0.4
          			c-0.3,0-0.4-0.2-0.5-0.4c-0.7-1.6-1.3-3.2-2-4.8c-0.1-0.2-0.2-0.4-0.3-0.6c0,0.2,0,0.3,0,0.5c0,1.6,0,3.2,0,4.8
          			c0,0.2-0.1,0.4-0.2,0.5c-0.2,0.2-0.5,0-0.5-0.3c0-2,0-4.1,0-6.1c0-0.3,0.1-0.3,0.4-0.3c0.6,0,0.7,0,0.9,0.6c0.7,1.5,1.3,3,1.9,4.6
          			c0.1,0.2,0.2,0.4,0.3,0.6c0.1-0.2,0.2-0.4,0.2-0.5c0.7-1.6,1.4-3.2,2.1-4.8c0.2-0.4,0.7-0.6,1.1-0.4c0.1,0.1,0.2,0.3,0.2,0.5
          			c0,1.2,0,2.4,0,3.6c0,0.8,0,1.5,0,2.3c0,0.2,0,0.4-0.3,0.4c-0.3,0-0.4-0.2-0.4-0.4c0-1.6,0-3.2,0-4.8c0-0.2,0-0.3,0-0.5
          			C103.8,86.5,103.8,86.5,103.7,86.5z"/>
          		<path class="st0" d="M121.9,87.2c-0.4,0.1-0.7,0.1-1-0.3c-0.8-1-2.2-1.2-3.4-0.7c-1.1,0.5-1.8,1.7-1.7,2.9
          			c0.1,1.2,1.1,2.2,2.3,2.5c1.2,0.3,2.5-0.2,3.1-1.3c0.1-0.2,0.2-0.3,0.3-0.6c-0.3,0-0.5,0-0.7,0c-0.9,0-1.8,0-2.7,0
          			c-0.2,0-0.4,0-0.4-0.3c0-0.3,0.1-0.3,0.4-0.3c1.3,0,2.6,0,3.9,0c0.3,0,0.4,0.2,0.3,0.4c-0.1,0.8-0.5,1.4-1.1,2
          			c-1.2,1-2.6,1.2-4,0.5c-1.3-0.6-2.1-1.7-2.1-3.2c0-1.5,1.1-2.9,2.6-3.3c1.5-0.4,3.2,0.1,4,1.3C121.8,86.9,121.8,87,121.9,87.2z"/>
          		<path class="st0" d="M114.4,123.5c0,0.9,0,1.8,0,2.6c0,0.4-0.1,0.5-0.5,0.5c-0.4,0-0.5-0.1-0.5-0.5c0-1.3,0-2.7,0-4
          			c0-0.4,0.1-0.5,0.5-0.5c0.6,0,0.9,0.1,1.1,0.7c0.3,0.7,0.8,1.4,1.2,2.3c0-0.2,0.1-0.3,0.1-0.5c0-0.7,0-1.3,0-2
          			c0-0.4,0.2-0.4,0.5-0.4c0.3,0,0.5,0,0.5,0.4c0,1.4,0,2.8,0,4.2c0,0.1-0.1,0.4-0.2,0.4c-0.3,0-0.7,0.2-0.9-0.2
          			c-0.3-0.5-0.5-0.9-0.8-1.4c-0.3-0.5-0.6-1-0.8-1.5C114.5,123.5,114.4,123.5,114.4,123.5z"/>
          		<path class="st0" d="M47.6,92.3c-2,0-3.6-1.5-3.6-3.5c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.5C51.2,90.8,49.6,92.3,47.6,92.3z
          			 M44.7,88.8c0,1.6,1.3,2.9,2.9,2.9c1.6,0,2.9-1.3,2.9-2.9c0-1.6-1.3-2.9-2.9-2.9C46,85.9,44.7,87.2,44.7,88.8z"/>
          		<path class="st0" d="M42,123.8c0,0.3,0,0.5,0,0.8c0.1,0.9,0.9,1.3,1.7,0.9c0.2-0.1,0.4-0.4,0.4-0.6c0.1-0.3,0.2-0.4,0.6-0.3
          			c0.8,0.1,0.9,0.2,0.5,0.9c-0.4,0.8-1.2,1.3-2.3,1.2c-1.2-0.1-1.8-0.7-2-1.9c-0.1-0.8-0.1-1.6,0.1-2.3c0.2-0.7,0.7-1.2,1.4-1.3
          			c0.6-0.1,1.2-0.1,1.7,0c0.7,0.1,1.2,0.8,1.3,1.5c0,0.2,0,0.3-0.2,0.3c-0.2,0-0.3,0-0.5,0.1c-0.3,0.1-0.5,0-0.6-0.3
          			c-0.1-0.5-0.4-0.6-0.9-0.7c-0.6,0-0.9,0.2-1.1,0.6c0,0.1-0.1,0.2-0.1,0.3C42.1,123.3,42,123.6,42,123.8z"/>
          		<path class="st0" d="M47.1,123.9c0,0.2,0,0.5,0,0.7c0.1,0.8,1,1.3,1.7,0.9c0.2-0.1,0.4-0.4,0.4-0.7c0.1-0.3,0.2-0.4,0.5-0.3
          			c0.8,0.1,0.9,0.2,0.5,1c-0.4,0.8-1.3,1.3-2.3,1.2c-1.2-0.1-1.8-0.7-2-1.9c-0.1-0.8-0.1-1.6,0.1-2.4c0.2-0.7,0.7-1.1,1.3-1.2
          			c0.6-0.1,1.2-0.1,1.7,0c0.8,0.1,1.1,0.7,1.3,1.4c0.1,0.3,0,0.4-0.3,0.4c-0.2,0-0.3,0-0.5,0.1c-0.3,0.1-0.4,0-0.5-0.3
          			c-0.1-0.5-0.4-0.7-0.9-0.7c-0.6,0-1,0.2-1.1,0.6C47.1,123.1,47.1,123.5,47.1,123.9C47,123.9,47,123.9,47.1,123.9z"/>
          		<path class="st0" d="M68.1,88.8c0-0.9,0-1.9,0-2.8c0-0.4,0.1-0.5,0.5-0.5c0.8,0.1,1.6,0,2.4,0.1c1.4,0.2,2.3,1,2.7,2.3
          			c0.4,1.3,0.1,2.5-0.9,3.5c-0.6,0.6-1.3,0.8-2.1,0.9c-0.7,0-1.4,0-2.1,0c-0.3,0-0.5-0.1-0.5-0.5C68.1,90.8,68.1,89.8,68.1,88.8z
          			 M68.7,88.8c0,0.8,0,1.6,0,2.4c0,0.2,0,0.4,0.3,0.4c0.8,0,1.5,0,2.3-0.2c1.1-0.3,1.8-1.4,1.8-2.6c0-1.1-0.7-2.3-1.8-2.5
          			c-0.7-0.2-1.5-0.2-2.3-0.2c-0.3,0-0.3,0.2-0.3,0.4C68.7,87.3,68.7,88.1,68.7,88.8z"/>
          		<path class="st0" d="M67.8,126.6c-0.4,0-0.6,0-0.9,0c-0.1,0-0.3-0.2-0.3-0.3c-0.2-0.4-0.4-0.8-0.6-1.2c-0.2-0.3-0.7-0.5-1-0.3
          			c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.4,0,0.8,0,1.2c0,0.4-0.2,0.4-0.5,0.4c-0.3,0-0.5,0-0.5-0.4c0-1.4,0-2.8,0-4.2
          			c0-0.3,0.1-0.4,0.4-0.4c0.7,0,1.4,0,2.2,0c0.7,0,1.2,0.4,1.3,0.9c0.2,0.7,0,1.4-0.5,1.8c-0.3,0.2-0.3,0.4-0.1,0.6
          			C67.3,125.5,67.5,126,67.8,126.6z M65.5,123.8c0.2,0,0.3,0,0.5,0c0.4-0.1,0.6-0.3,0.6-0.7c0-0.4-0.2-0.6-0.6-0.6
          			c-0.2,0-0.4,0-0.6,0c-0.6,0-0.6,0-0.6,0.6C64.8,123.9,64.7,123.8,65.5,123.8z"/>
          		<path class="st0" d="M104.2,124.1c0-0.7,0-1.4,0-2.1c0-0.3,0.1-0.4,0.4-0.4c0.7,0,1.4,0,2.1,0c0.7,0,1.2,0.4,1.4,0.9
          			c0.2,0.7,0,1.4-0.6,1.8c-0.2,0.2-0.2,0.3-0.1,0.5c0.2,0.4,0.4,0.9,0.6,1.3c0.2,0.4,0.2,0.4-0.3,0.5c-0.5,0.1-0.8-0.1-0.9-0.6
          			c-0.1-0.4-0.3-0.7-0.5-1c-0.2-0.3-0.4-0.4-0.9-0.3c-0.4,0.1-0.2,0.4-0.2,0.6c0,0.3,0,0.7,0,1c0,0.4-0.3,0.3-0.5,0.3
          			c-0.2,0-0.5,0.1-0.5-0.3C104.3,125.6,104.3,124.8,104.2,124.1L104.2,124.1z M106,123.8C106,123.8,106,123.8,106,123.8
          			c0.2,0,0.4,0,0.6,0c0.3-0.1,0.5-0.2,0.5-0.5c0.1-0.4-0.1-0.7-0.5-0.8c-0.4-0.1-0.8,0-1.2,0c0,0.3-0.1,0.6-0.1,0.9
          			c0,0.3,0.1,0.4,0.4,0.4C105.8,123.8,105.9,123.8,106,123.8z"/>
          		<path class="st0" d="M88.9,124.1c0-0.7,0-1.3,0-2c0-0.3,0.1-0.5,0.4-0.5c0.5,0,1,0,1.6,0c1.1,0,1.7,0.5,1.9,1.6
          			c0.1,0.6,0,1.2-0.1,1.9c-0.2,0.9-0.8,1.4-1.7,1.5c-0.6,0-1.2,0-1.8,0c-0.3,0-0.4-0.1-0.4-0.4c0,0,0-0.1,0-0.1
          			C88.8,125.4,88.9,124.8,88.9,124.1z M89.9,124.1c0,0.4,0,0.9,0,1.3c0,0.1,0.1,0.3,0.2,0.3c0.7,0.3,1.5-0.2,1.6-0.9
          			c0.1-0.4,0.1-0.9,0-1.3c-0.1-0.9-0.7-1.3-1.6-1c-0.1,0-0.2,0.2-0.2,0.3C89.9,123.2,89.9,123.7,89.9,124.1z"/>
          		<path class="st0" d="M37.3,123.6c0,1.6-0.4,2.7-1.2,3.7c-0.2,0.3-0.4,0.3-0.6,0c-0.3-0.4-0.7-0.8-1-1.1c-0.2-0.2-0.2-0.3-0.1-0.6
          			c0.6-0.9,0.7-1.9,0.3-3c-0.1-0.2,0-0.4,0.2-0.5c0.5-0.2,1-0.4,1.5-0.7c0.2-0.1,0.4-0.1,0.4,0.2C37,122.5,37.2,123.3,37.3,123.6z"
          			/>
          		<path class="st0" d="M72.1,121.5c0.9,0.1,1.5,0.2,1.9,0.9c0.2,0.4,0.2,0.4-0.2,0.5c-0.4,0.1-0.7,0.1-1-0.3c-0.2-0.3-1-0.2-1.3,0
          			c-0.2,0.2-0.2,0.5,0.1,0.7c0.3,0.1,0.6,0.2,0.8,0.3c0.3,0.1,0.6,0.2,0.9,0.3c0.5,0.2,0.8,0.6,0.8,1.2c0,0.6-0.2,1-0.7,1.3
          			c-0.9,0.5-1.8,0.5-2.7,0c-0.2-0.1-0.4-0.3-0.5-0.4c-0.1-0.2-0.2-0.5-0.3-0.7c0.3-0.1,0.6-0.1,0.8-0.2c0.1,0,0.2,0.1,0.3,0.2
          			c0.3,0.5,1.3,0.7,1.7,0.3c0.3-0.2,0.3-0.6-0.1-0.8c-0.2-0.1-0.4-0.2-0.6-0.2c-0.4-0.1-0.8-0.2-1.1-0.3c-0.6-0.2-0.8-0.6-0.8-1.3
          			c0-0.6,0.3-1,0.9-1.2C71.5,121.6,71.9,121.6,72.1,121.5z"/>
          		<path class="st0" d="M122.7,124.1c0-0.7,0-1.4,0-2.1c0-0.3,0.1-0.4,0.4-0.4c0.9,0,1.7,0,2.6,0c0.3,0,0.5,0.1,0.5,0.5
          			c0,0.4-0.1,0.5-0.5,0.5c-0.5,0-1,0-1.5,0c-0.3,0-0.4,0.1-0.4,0.4c0,0.3,0.1,0.5,0.4,0.5c0.4,0,0.9,0,1.3,0c0.4,0,0.4,0.2,0.4,0.5
          			c0,0.3-0.1,0.4-0.4,0.4c-0.4,0-0.9,0-1.3,0c-0.3,0-0.4,0.1-0.4,0.4c0,1.1-0.1,0.9,0.9,0.9c0.4,0,0.8,0,1.1,0
          			c0.3,0,0.3,0.2,0.3,0.5c0,0.2,0,0.5-0.3,0.5c-0.9,0-1.8,0-2.7,0c-0.3,0-0.4-0.2-0.4-0.4C122.7,125.5,122.7,124.8,122.7,124.1z"/>
          		<path class="st0" d="M113,92.2c-0.1-0.1-0.2-0.2-0.3-0.3c-0.3-0.5-0.5-1-0.7-1.6c-0.1-0.3-0.3-0.4-0.6-0.4c-0.8,0-1.6,0-2.4,0
          			c-0.2,0-0.4,0.1-0.5,0.3c-0.2,0.5-0.4,1-0.7,1.5c0,0.1-0.1,0.3-0.2,0.3c-0.2,0.1-0.4,0.1-0.6,0.1c0-0.1,0-0.3,0-0.4
          			c0.8-2,1.7-4,2.6-6c0.1-0.2,0.2-0.4,0.5-0.4c0.3,0,0.5,0.1,0.6,0.4c0.9,2,1.7,4,2.6,6.1C113.5,92.2,113.5,92.3,113,92.2z
          			 M110.3,86.4c0,0-0.1,0-0.1,0c-0.4,0.9-0.8,1.8-1.1,2.7c-0.1,0.2,0,0.3,0.2,0.3c0.7,0,1.3,0,2,0c0.2,0,0.3-0.1,0.2-0.3
          			C111,88.2,110.7,87.3,110.3,86.4z"/>
          		<path class="st0" d="M42.4,90.5c-0.6,1.3-2.3,2.1-3.7,1.8c-1.7-0.3-2.9-1.8-2.9-3.4c0-1.7,1.2-3.1,2.8-3.5
          			c1.5-0.3,3.2,0.5,3.8,1.7c-0.3,0.1-0.6,0.1-0.9-0.2c-0.9-1-2.3-1.3-3.5-0.6c-1.2,0.7-1.8,2.1-1.4,3.3c0.4,1.3,1.6,2.2,2.9,2.1
          			c0.8,0,1.4-0.4,1.9-0.9C41.7,90.5,42,90.4,42.4,90.5z"/>
          		<path class="st0" d="M93.4,124.1c0-0.7,0-1.4,0-2.1c0-0.3,0.1-0.4,0.4-0.4c0.9,0,1.7,0,2.6,0c0.3,0,0.4,0.1,0.4,0.4
          			c0,0.3-0.1,0.5-0.4,0.5c-0.5,0-1.1,0-1.6,0c-0.3,0-0.4,0.1-0.4,0.4c0,0.3,0,0.5,0.4,0.5c0.4,0,0.7,0,1.1,0c0.7,0,0.7,0,0.7,0.4
          			c0,0.5,0,0.5-0.7,0.5c-0.4,0-0.7,0-1.1,0c-0.3,0-0.4,0.1-0.4,0.4c0,1.2-0.1,1,0.9,1c0.4,0,0.7,0,1.1,0c0.4,0,0.4,0.2,0.4,0.5
          			c0,0.3-0.1,0.4-0.4,0.4c-0.9,0-1.8,0-2.7,0c-0.3,0-0.4-0.1-0.4-0.4C93.4,125.5,93.4,124.8,93.4,124.1z"/>
          		<path class="st0" d="M82,124.1c0-0.7,0-1.4,0-2.1c0-0.3,0.1-0.4,0.4-0.4c0.9,0,1.7,0,2.6,0c0.4,0,0.4,0.2,0.4,0.5
          			c0,0.3-0.1,0.5-0.4,0.5c-0.5,0-1,0-1.6,0c-0.3,0-0.4,0.1-0.4,0.4c0,0.3,0,0.5,0.4,0.5c0.5,0,0.9,0,1.4,0c0.4,0,0.4,0.2,0.4,0.5
          			c0,0.3-0.1,0.4-0.4,0.4c-0.4,0-0.9,0-1.3,0c-0.3,0-0.5,0.1-0.5,0.5c0,1-0.1,0.9,0.9,0.9c0.4,0,0.8,0,1.1,0c0.4,0,0.3,0.2,0.4,0.5
          			c0,0.3-0.1,0.4-0.4,0.4c-0.9,0-1.8,0-2.7,0c-0.3,0-0.4-0.1-0.4-0.4C82,125.5,82,124.8,82,124.1z"/>
          		<path class="st0" d="M118,124.1c0-0.1,0-0.3,0-0.4c0.1-1.8,1.7-2.7,3.3-1.9c0.5,0.3,0.7,0.7,0.8,1.3c0,0.1-0.1,0.2-0.2,0.3
          			c-0.1,0.1-0.3,0-0.4,0.1c-0.3,0.1-0.5,0.1-0.6-0.3c-0.1-0.4-0.4-0.6-0.8-0.6c-0.4,0-0.8,0.1-1,0.5c-0.3,0.7-0.3,1.5,0,2.3
          			c0.2,0.5,0.6,0.5,1,0.5c0.4,0,0.7-0.2,0.8-0.6c0.1-0.4,0.3-0.5,0.7-0.4c0.6,0.1,0.6,0.1,0.4,0.7c-0.3,0.9-1.1,1.3-2.1,1.2
          			c-1.2-0.1-1.8-0.7-1.9-1.9C117.9,124.5,118,124.3,118,124.1C118,124.1,118,124.1,118,124.1z"/>
          		<path class="st0" d="M54.8,124.1c0-0.7,0-1.4,0-2.1c0-0.3,0.1-0.4,0.4-0.4c0.7,0,1.4,0,2.1,0c0.8,0,1.3,0.5,1.4,1.2
          			c0.1,0.9-0.3,1.6-1.1,1.8c-0.4,0.1-0.9,0.1-1.3,0.1c-0.3,0-0.4,0.1-0.4,0.4c0,0.4,0,0.8,0,1.1c0,0.4-0.3,0.4-0.5,0.4
          			c-0.3,0-0.5,0-0.5-0.4C54.8,125.5,54.8,124.8,54.8,124.1L54.8,124.1z M56.6,122.5C56.6,122.5,56.6,122.5,56.6,122.5
          			c-0.1,0-0.3,0-0.4,0c-0.2,0-0.3,0.1-0.3,0.3c-0.1,1.1,0.1,1.2,1.1,1.1c0,0,0.1,0,0.1,0c0.4-0.1,0.6-0.3,0.6-0.7
          			c0-0.4-0.2-0.6-0.5-0.6C57,122.5,56.8,122.5,56.6,122.5z"/>
          		<path class="st0" d="M112.3,126.6c-0.3,0.1-0.5-0.1-0.6-0.4c-0.1-0.5-0.3-0.6-0.8-0.6c-0.1,0-0.2,0-0.3,0c-0.7,0-0.7,0-1,0.7
          			c-0.1,0.3-0.8,0.4-1,0.2c0,0,0-0.2,0-0.2c0.5-1.5,1-3,1.5-4.5c0.1-0.3,0.4-0.2,0.6-0.2c0.2,0,0.5-0.1,0.6,0.3
          			c0.2,0.5,0.3,1,0.5,1.5c0.3,0.9,0.6,1.8,0.9,2.7C112.9,126.6,112.9,126.6,112.3,126.6z M110.7,123.3c0,0-0.1,0-0.1,0
          			c-0.1,0.2-0.1,0.4-0.2,0.6c-0.3,1-0.3,1,0.8,0.8C111.1,124.3,110.9,123.8,110.7,123.3z"/>
          		<path class="st0" d="M29.7,88.8c0-0.9,0-1.9,0-2.8c0-0.6,0-0.6,0.6-0.6c0.9,0,1.8,0,2.7,0c0.2,0,0.5-0.1,0.5,0.3
          			c0,0.4-0.3,0.3-0.5,0.3c-0.7,0-1.4,0-2.1,0c-0.4,0-0.5,0.1-0.5,0.5c0,0.5,0,1,0,1.5c0,0.3,0.1,0.5,0.5,0.5c0.7,0,1.4,0,2.1,0
          			c0.2,0,0.4,0,0.4,0.3c0,0.3-0.1,0.4-0.4,0.4c-0.7,0-1.4,0-2.1,0c-0.5,0-0.5,0-0.5,0.5c0,0.5,0,1,0,1.5c0,0.3,0.1,0.4,0.4,0.4
          			c0.7,0,1.5,0,2.2,0c0.1,0,0.3,0,0.4,0.1c0.1,0.2,0,0.5-0.3,0.5c-1,0-2.1,0-3.1,0c-0.3,0-0.3-0.2-0.3-0.4
          			C29.7,90.8,29.7,89.8,29.7,88.8z"/>
          		<path class="st0" d="M59.3,88.8c0-1,0-2,0-3c0-0.3,0.1-0.5,0.5-0.5c1,0,1.9,0,2.9,0c0.2,0,0.4,0,0.4,0.3c0,0.4-0.2,0.3-0.5,0.3
          			c-0.7,0-1.4,0-2.2,0c-0.3,0-0.4,0.1-0.4,0.4c0,0.5,0,1,0,1.6c0,0.3,0.1,0.4,0.4,0.4c0.7,0,1.4,0,2.1,0c0.2,0,0.4,0,0.4,0.3
          			c0,0.3-0.2,0.3-0.4,0.3c-0.7,0-1.3,0-2,0c-0.4,0-0.5,0.1-0.5,0.5c0,0.5,0,1,0,1.5c0,0.4,0.1,0.5,0.5,0.5c0.7,0,1.4,0,2.1,0
          			c0.2,0,0.4,0,0.4,0.3c0,0.3-0.2,0.3-0.4,0.3c-1,0-1.9,0-2.9,0c-0.3,0-0.5-0.1-0.5-0.5C59.3,90.8,59.3,89.8,59.3,88.8z"/>
          		<path class="st0" d="M124.6,88.9c0-1,0-2,0-2.9c0-0.4,0.1-0.5,0.5-0.5c0.9,0,1.9,0,2.9,0c0.2,0,0.4,0,0.4,0.3
          			c0,0.3-0.2,0.3-0.4,0.3c-0.7,0-1.4,0-2.2,0c-0.3,0-0.5,0.1-0.5,0.5c0,0.5,0,1,0,1.5c0,0.3,0.1,0.4,0.4,0.4c0.7,0,1.4,0,2.1,0
          			c0.2,0,0.5,0,0.5,0.3c0,0.3-0.2,0.3-0.4,0.3c-0.7,0-1.4,0-2.1,0c-0.3,0-0.4,0.1-0.4,0.4c0,0.6,0,1.1,0,1.7c0,0.3,0.1,0.4,0.4,0.4
          			c0.7,0,1.5,0,2.2,0c0.2,0,0.4,0,0.4,0.3c0,0.3-0.2,0.3-0.4,0.3c-1,0-1.9,0-2.9,0c-0.4,0-0.4-0.2-0.4-0.5
          			C124.6,90.8,124.6,89.8,124.6,88.9z"/>
          		<path class="st0" d="M76.5,88.8c0-1,0-1.9,0-2.9c0-0.4,0.1-0.5,0.5-0.5c0.9,0,1.9,0,2.8,0c0.2,0,0.4,0,0.4,0.3
          			c0,0.3-0.2,0.3-0.4,0.3c-0.7,0-1.4,0-2.1,0c-0.4,0-0.5,0.1-0.5,0.5c0,0.5,0,0.9,0,1.4c0,0.5,0,0.5,0.5,0.5c0.7,0,1.3,0,2,0
          			c0.2,0,0.4,0,0.4,0.3c0,0.3-0.2,0.3-0.4,0.3c-0.7,0-1.4,0-2.1,0c-0.3,0-0.4,0.1-0.4,0.4c0,0.5,0,1.1,0,1.6c0,0.3,0.1,0.4,0.4,0.4
          			c0.7,0,1.4,0,2.2,0c0.1,0,0.4,0.1,0.4,0.2c0.1,0.2,0.1,0.4-0.3,0.4c-1,0-2.1,0-3.1,0c-0.3,0-0.3-0.2-0.3-0.4
          			C76.5,90.8,76.5,89.8,76.5,88.8z"/>
          		<path class="st0" d="M62.8,126.6c-0.5,0.1-0.7-0.1-0.7-0.4c-0.1-0.4-0.3-0.6-0.8-0.5c-0.1,0-0.2,0-0.2,0c-0.6-0.1-1,0-1.1,0.7
          			c0,0.2-0.8,0.4-1,0.2c0-0.1,0-0.2,0-0.3c0.5-1.5,1-3,1.5-4.5c0.1-0.3,0.4-0.3,0.6-0.3c0.2,0,0.5-0.1,0.6,0.3c0.5,1.5,1,3,1.5,4.5
          			C63.4,126.8,62.9,126.5,62.8,126.6z M61.1,123.3c0,0-0.1,0-0.1,0c-0.1,0.2-0.1,0.4-0.2,0.6c-0.3,0.9-0.3,1,0.7,0.8
          			c0,0,0,0,0.1-0.1C61.4,124.2,61.3,123.8,61.1,123.3z"/>
          		<path class="st0" d="M100.3,124.1c0-0.7,0-1.4,0-2.1c0-0.3,0.1-0.4,0.4-0.4c0.9,0,1.7,0,2.6,0c0.4,0,0.4,0.2,0.4,0.5
          			c0,0.3-0.1,0.5-0.5,0.5c-0.5,0-1,0-1.5,0c-0.4,0-0.4,0.2-0.4,0.5c0,0.3,0,0.5,0.4,0.5c0.4,0,0.9,0,1.3,0c0.4,0,0.5,0.1,0.5,0.5
          			c0,0.4-0.2,0.5-0.5,0.5c-0.4,0-0.9,0-1.3,0c-0.3,0-0.4,0.1-0.4,0.4c0,0.4,0,0.9,0,1.3c0,0.4-0.2,0.5-0.5,0.4c-0.3,0-0.5,0-0.5-0.4
          			C100.3,125.5,100.3,124.8,100.3,124.1z"/>
          		<path class="st0" d="M78.2,124.1c0-0.7,0-1.3,0-2c0-0.5,0-0.5,0.5-0.5c0.4,0,0.5,0.2,0.5,0.5c0,1,0,2.1,0,3.1
          			c0,0.4,0.1,0.5,0.5,0.5c0.5,0,0.9,0,1.4,0c0.4,0,0.4,0.2,0.4,0.5c0,0.3,0,0.4-0.4,0.4c-0.9,0-1.7,0-2.6,0c-0.3,0-0.4-0.1-0.4-0.4
          			C78.2,125.5,78.2,124.8,78.2,124.1z"/>
          		<path class="st0" d="M34,121.5c0.2-0.5,0.4-0.9,0.6-1.4c0.3-0.7,0.6-1.3,0.9-2c0.1-0.3,0.3-0.4,0.5-0.2c0.6,0.5,1.1,1.1,1.7,1.7
          			c0.1,0.1,0.2,0.3-0.1,0.4C36.5,120.5,35.3,121,34,121.5C34.1,121.5,34.1,121.5,34,121.5z"/>
          		<path class="st0" d="M85.1,88.8c0-0.9,0-1.8,0-2.8c0-0.2-0.1-0.6,0.3-0.6c0.5,0,0.3,0.3,0.4,0.6c0,1.7,0,3.3,0,5
          			c0,0.6,0,0.6,0.6,0.6c0.6,0,1.2,0,1.9,0c0.2,0,0.4,0,0.4,0.3c0,0.3-0.2,0.3-0.4,0.3c-0.9,0-1.8,0-2.7,0c-0.3,0-0.4-0.1-0.4-0.4
          			C85.1,90.8,85.1,89.8,85.1,88.8L85.1,88.8z"/>
          		<path class="st0" d="M21.9,88.8c0-1,0-1.9,0-2.9c0-0.2,0-0.5,0.3-0.5c0.4,0,0.4,0.2,0.4,0.5c0,1.7,0,3.4,0,5.1
          			c0,0.7,0,0.7,0.7,0.7c0.6,0,1.1,0,1.7,0c0.2,0,0.4,0,0.4,0.3c0,0.3-0.2,0.3-0.4,0.3c-0.9,0-1.8,0-2.7,0c-0.3,0-0.5-0.1-0.5-0.5
          			C21.9,90.8,21.9,89.8,21.9,88.8z"/>
          		<path class="st0" d="M53.5,88.8c0-0.9,0-1.9,0-2.8c0-0.3-0.1-0.6,0.4-0.6c0.4,0,0.3,0.3,0.3,0.6c0,1.7,0,3.3,0,5
          			c0,0.6,0,0.6,0.6,0.6c0.6,0,1.2,0,1.8,0c0.2,0,0.4,0,0.4,0.3c0,0.3-0.2,0.3-0.4,0.3c-0.9,0-1.8,0-2.7,0c-0.3,0-0.4-0.1-0.4-0.4
          			C53.5,90.8,53.5,89.8,53.5,88.8z"/>
          		<path class="st0" d="M52.3,123.9c0,0.8,0,1.5,0,2.3c0,0.4-0.1,0.5-0.5,0.5c-0.7,0-0.7,0-0.7-0.6c0-1.5,0-2.9,0-4.4
          			c0-0.5,0-0.5,0.5-0.5c0.6,0,0.6,0,0.6,0.5C52.3,122.3,52.3,123.1,52.3,123.9z"/>
          		<path class="st0" d="M68.4,124.1c0-0.7,0-1.4,0-2.1c0-0.4,0.2-0.4,0.5-0.4c0.3,0,0.6-0.1,0.6,0.4c0,1.4,0,2.8,0,4.2
          			c0,0.5-0.3,0.4-0.6,0.4c-0.3,0-0.5,0-0.5-0.4C68.4,125.5,68.4,124.8,68.4,124.1z"/>
          		<path class="st0" d="M77.2,124.1c0,0.7,0,1.4,0,2.1c0,0.4-0.2,0.4-0.5,0.4c-0.3,0-0.5,0-0.5-0.4c0-1.4,0-2.8,0-4.1
          			c0-0.4,0.2-0.4,0.5-0.4c0.3,0,0.5,0,0.5,0.4C77.2,122.7,77.2,123.4,77.2,124.1z"/>
          		<path class="st0" d="M94,88.9c0,1,0,1.9,0,2.9c0,0.2,0,0.5-0.3,0.5c-0.3,0-0.4-0.2-0.4-0.5c0-2,0-3.9,0-5.9c0-0.3,0-0.5,0.4-0.4
          			c0.3,0,0.3,0.2,0.3,0.4C94,86.9,94,87.9,94,88.9z"/>
          		<path class="st0" d="M43.5,109c0-0.3,0-0.5,0-0.8c0-0.2,0.1-0.3,0.3-0.3c0.2,0,0.3,0.1,0.3,0.3c0,0.9,0,1.8,0,2.8
          			c0,0.3-0.2,0.3-0.4,0.3c-0.2,0-0.4,0-0.7,0c-0.6,0.1-0.9-0.2-1-0.7c0,0,0-0.1,0-0.1C41.9,109.2,42.3,108.8,43.5,109z M43.5,110.1
          			c0-0.1,0-0.2,0-0.3c0-0.3-0.2-0.4-0.4-0.4c-0.1,0-0.3,0.2-0.3,0.4c-0.1,0.2,0,0.4,0,0.5c0,0.1,0.2,0.3,0.3,0.3
          			c0.1,0,0.3-0.1,0.4-0.2C43.5,110.4,43.5,110.2,43.5,110.1z"/>
          		<path class="st0" d="M23.5,110c0-0.2,0-0.5,0-0.7c0-0.3,0.1-0.4,0.4-0.4c0.3,0,0.5,0,0.8,0c0.5-0.1,0.8,0.1,0.8,0.6
          			c0,0.5,0,0.9,0,1.4c0,0.2-0.1,0.3-0.3,0.3c-0.2,0-0.3-0.1-0.3-0.3c0-0.4,0-0.7,0-1.1c0-0.1-0.2-0.3-0.3-0.4
          			c-0.2-0.1-0.4,0.1-0.4,0.3c0,0.3,0,0.7,0,1c0,0.2,0,0.4-0.3,0.4c-0.3,0-0.4-0.2-0.4-0.4C23.5,110.6,23.5,110.3,23.5,110z"/>
          		<path class="st0" d="M50.9,109.5c-0.2,0-0.3,0-0.5,0c-0.1,0-0.3,0.1-0.4,0c-0.1,0-0.2-0.1-0.3-0.2c0.1-0.1,0.1-0.2,0.2-0.3
          			c0.4-0.2,0.8-0.3,1.3-0.1c0.2,0.1,0.3,0.4,0.4,0.6c0.1,0.4,0,0.9,0,1.3c0,0.3-0.2,0.4-0.4,0.4c-0.2,0-0.4,0-0.6,0
          			c-0.4,0-0.7-0.1-0.8-0.4c-0.1-0.4,0-0.7,0.4-0.9c0.1-0.1,0.3-0.1,0.4-0.1c0.1,0,0.3-0.1,0.4-0.1C50.9,109.6,50.9,109.5,50.9,109.5
          			z M50.6,110.9c0.2-0.2,0.3-0.4,0.4-0.5c0,0-0.2-0.2-0.2-0.2c-0.2,0.1-0.3,0.2-0.4,0.3C50.4,110.6,50.5,110.7,50.6,110.9z"/>
          		<path class="st0" d="M26,110.2c0-0.8,0.4-1.3,1-1.3c0.6,0,1.1,0.4,1,1.1c0,0.1-0.2,0.3-0.3,0.3c-0.3,0-0.6,0-0.8,0
          			c-0.1,0-0.2,0.1-0.3,0.1c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0,0.3,0,0.5,0c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.3,0.1,0.4,0.1
          			c0,0.1-0.1,0.3-0.2,0.4c-0.4,0.3-0.8,0.3-1.2,0.1C26.1,111,26,110.5,26,110.2z M27.1,109.9c0.1-0.1,0.2-0.2,0.3-0.2
          			c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1,0-0.2,0.1-0.3,0.2C26.8,109.7,26.9,109.8,27.1,109.9z"/>
          		<path class="st0" d="M44.7,110.1c0-0.9,0.7-1.4,1.5-1.1c0.2,0.1,0.4,0.3,0.5,0.5c0.3,0.6,0.1,0.8-0.5,0.8c-0.1,0-0.3,0-0.4,0
          			c-0.1,0-0.2,0.1-0.3,0.2c0.1,0.1,0.2,0.3,0.3,0.3c0.1,0,0.3-0.1,0.5-0.1c0.2,0,0.4,0,0.5,0c-0.1,0.2-0.1,0.4-0.3,0.5
          			c-0.4,0.2-0.8,0.2-1.2,0C44.8,110.9,44.8,110.5,44.7,110.1z M45.8,109.9c0.1-0.1,0.3-0.1,0.4-0.2c-0.1-0.1-0.2-0.2-0.3-0.2
          			c-0.1,0-0.2,0.1-0.4,0.2C45.6,109.7,45.7,109.8,45.8,109.9z"/>
          		<path class="st0" d="M39.5,111.3c-0.5-0.1-0.8-0.3-1-0.6c-0.2-0.5-0.1-1.2,0.2-1.5c0.3-0.3,0.9-0.3,1.2-0.2
          			c0.4,0.2,0.6,0.7,0.5,1.1c0,0.1-0.2,0.2-0.3,0.2c-0.3,0-0.5,0-0.8,0c-0.1,0-0.2,0.1-0.3,0.1c0.1,0.1,0.2,0.3,0.3,0.3
          			c0.2,0,0.3-0.1,0.5-0.1c0.2,0,0.4,0,0.5,0c-0.1,0.1-0.1,0.3-0.3,0.4C40,111.2,39.7,111.2,39.5,111.3z M39.1,109.6c0,0,0,0.1,0,0.1
          			c0.2,0,0.3,0.1,0.5,0c0.1,0,0.1-0.1,0.2-0.2c-0.1-0.1-0.3-0.1-0.4-0.1C39.3,109.5,39.2,109.6,39.1,109.6z"/>
          		<path class="st0" d="M34.6,110c0-0.8,0.4-1.2,1.1-1.2c0.7,0,1.1,0.4,1.1,1.2c0,0.8-0.4,1.2-1.1,1.2
          			C34.9,111.2,34.6,110.8,34.6,110z M36.1,110c-0.1-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.5,0-0.5,0c0,0.3,0,0.6,0,1c0,0,0.4,0.1,0.5,0
          			C36,110.5,36,110.2,36.1,110z"/>
          		<path class="st0" d="M29.6,110.2c0-0.9,0.5-1.4,1.2-1.3c0.2,0,0.6,0.2,0.7,0.4c0.1,0.2,0.1,0.6,0.1,0.8c0,0.1-0.4,0.1-0.6,0.1
          			c-0.1,0-0.3,0-0.4,0c-0.1,0-0.2,0.1-0.3,0.1c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0,0.3,0,0.4,0c0.1,0,0.1-0.1,0.2-0.1
          			c0.2,0,0.3,0.1,0.4,0.1c-0.1,0.1-0.1,0.3-0.2,0.4c-0.4,0.3-0.8,0.3-1.3,0.1C29.7,110.9,29.6,110.5,29.6,110.2z M30.6,109.9
          			c0.1-0.1,0.3-0.1,0.4-0.2c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1,0-0.2,0.1-0.4,0.2C30.4,109.7,30.5,109.8,30.6,109.9z"/>
          		<path class="st0" d="M22.8,110.1c0,0.2,0,0.5,0,0.7c0,0.4-0.1,0.5-0.5,0.4c-0.2,0-0.4,0-0.6,0c-0.6,0.1-0.9-0.1-0.9-0.7
          			c0-0.4,0-0.8,0-1.2c0-0.2,0.1-0.4,0.3-0.4c0.2,0,0.3,0.1,0.3,0.3c0,0.3,0,0.6,0,0.9c0,0.2,0,0.5,0.4,0.5c0.3,0,0.4-0.2,0.4-0.5
          			c0-0.3,0-0.6,0-0.9c0-0.2,0.1-0.3,0.3-0.3c0.2,0,0.3,0.1,0.3,0.3C22.8,109.5,22.8,109.8,22.8,110.1L22.8,110.1z"/>
          		<path class="st0" d="M32.1,110.1c0-0.9,0.7-1.4,1.5-1.1c0.2,0.1,0.3,0.2,0.5,0.4c0.1,0.1,0,0.3,0,0.4c-0.2,0-0.4,0.1-0.5,0
          			c-0.2-0.2-0.3-0.3-0.5-0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.5,0.2,0.6c0,0.1,0.3,0,0.4,0c0.1,0,0.1-0.2,0.2-0.2
          			c0.2,0,0.3,0,0.5,0c0,0.1,0,0.3-0.1,0.4c-0.2,0.4-0.7,0.5-1.2,0.4C32.3,111,32.1,110.7,32.1,110.1z"/>
          		<path class="st0" d="M37.2,109.5c0-0.4,0-0.9,0-1.3c0-0.2,0.1-0.4,0.3-0.4c0.3,0,0.3,0.1,0.3,0.4c0,0.9,0,1.8,0,2.7
          			c0,0.2-0.1,0.4-0.3,0.4c-0.3,0-0.3-0.1-0.3-0.4C37.2,110.4,37.2,110,37.2,109.5z"/>
          		<path class="st0" d="M49.1,109.5c0,0.4,0,0.9,0,1.3c0,0.2-0.1,0.4-0.3,0.4c-0.3,0-0.3-0.1-0.3-0.4c0-0.9,0-1.8,0-2.6
          			c0-0.2,0.1-0.4,0.3-0.4c0.3,0,0.3,0.1,0.3,0.4C49.1,108.7,49.1,109.1,49.1,109.5z"/>
          		<path class="st0" d="M98.5,124c0.2,0,0.5,0,0.7,0c0.5,0,0.6,0.1,0.5,0.6c0,0.1-0.2,0.3-0.3,0.3c-0.6,0-1.2,0-1.9,0
          			c-0.4,0-0.3-0.3-0.3-0.5c0-0.2,0-0.4,0.3-0.4C97.9,124,98.2,124,98.5,124C98.5,124,98.5,124,98.5,124z"/>
          		<path class="st0" d="M87,124.9c-0.3,0-0.6,0-0.9,0c-0.3,0-0.3-0.2-0.3-0.4c0-0.2,0-0.5,0.3-0.5c0.6,0,1.2,0,1.9,0
          			c0.4,0,0.3,0.3,0.3,0.5c0,0.2,0,0.4-0.3,0.4C87.7,124.9,87.3,124.9,87,124.9L87,124.9z"/>
          		<path class="st0" d="M27.1,85.5c-0.3,0.6-0.5,1.2-0.9,1.8c-0.1,0.1-0.3,0.1-0.5,0.1c0-0.1,0-0.3,0-0.4c0.1-0.4,0.3-0.8,0.5-1.2
          			C26.5,85.4,26.5,85.4,27.1,85.5z"/>
          		<path class="st0" d="M90.6,85.5c-0.2,0.4-0.3,0.8-0.5,1.1c-0.1,0.3-0.2,0.5-0.4,0.7c-0.1,0.1-0.3,0.1-0.5,0.2c0-0.1-0.1-0.3,0-0.4
          			c0.2-0.5,0.4-0.9,0.5-1.4c0.1-0.3,0.4-0.3,0.6-0.3C90.5,85.5,90.6,85.5,90.6,85.5z"/>
          		<path class="st0" d="M32.8,84.1c-0.1,0-0.2,0.1-0.3,0.1c-0.4,0.2-0.9,0.5-1.3,0.7c-0.2,0.1-0.3,0.1-0.4-0.1
          			c-0.1-0.2,0-0.3,0.2-0.4c0.4-0.2,0.8-0.5,1.3-0.7c0.3-0.1,0.5,0,0.5,0.3C32.7,84,32.7,84.1,32.8,84.1z"/>
          		<path class="st0" d="M30.3,108.6c0.3-0.6,0.5-0.6,1.1-0.5C31.1,108.6,30.9,108.7,30.3,108.6z"/>
          	</g>
          </g>
          </svg>
        </div>
        <div class="center">
          <p class="second-part-title">What's RESET ?</p>
          <p>
            Reset is an interactive & evolutive experiment created as part of our course at Gobelins. Answering the subject ‘’To reenchant the world’’, we decided to gather users around a common project and create a feeling of co-creation.
<br />We rely on you!</p>
        </div>
        <div class="right">
          <a href="https://www.facebook.com/joinreset/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 15 15" xml:space="preserve">
            <title>twitter</title>
            <path d="M12.9,13.6L12.9,13.6c0.4,0,0.7-0.3,0.7-0.7V2.2c0-0.4-0.3-0.7-0.7-0.7H2.2c-0.4,0-0.7,0.3-0.7,0.7v10.7
            	c0,0.4,0.3,0.7,0.7,0.7 M7.9,13.6V8.9H6.4V7.1h1.6V5.7c0-1.6,0.9-2.4,2.3-2.4c0.7,0,1.2,0,1.4,0.1V5h-1C10,5,9.8,5.4,9.8,5.9v1.2
            	h1.8l-0.2,1.8H9.8v4.7"/>
            </svg>
            <p>@joinReset</p>
          </a>
          <a href="https://twitter.com/joinReset" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><title>twitter</title><path d="M6,12.5a9,9,0,0,1-4.14-1.1.44.44,0,0,1-.19-.52.43.43,0,0,1,.47-.29,3.62,3.62,0,0,0,2.54-.53C3.51,9.21,1,6.79,2.53,3.19a.44.44,0,0,1,.37-.26.44.44,0,0,1,.4.2A5.39,5.39,0,0,0,7.16,5.19,2.71,2.71,0,0,1,9.86,2.5a2.68,2.68,0,0,1,1.78.68c.72-.08,1.28-.09,1.3-.09a.48.48,0,0,1,.17,0,.44.44,0,0,1,.31,0,.44.44,0,0,1,.25.56,5.39,5.39,0,0,1-1,1.75c.14,1.26-.18,3.1-2.19,5.17A6.07,6.07,0,0,1,6,12.5ZM3.91,11.34A5.64,5.64,0,0,0,9.83,10c1.9-2,2.09-3.63,1.92-4.68a.44.44,0,0,1,.2-.44A2.49,2.49,0,0,0,12.59,4c-.26,0-.64,0-1,.09a.44.44,0,0,1-.36-.13A1.83,1.83,0,0,0,8,5.2a1.69,1.69,0,0,0,0,.38.44.44,0,0,1-.45.53A6.85,6.85,0,0,1,3.08,4.22c-1,3.39,2.35,5.35,2.5,5.43a.44.44,0,0,1,.11.67A3.86,3.86,0,0,1,3.91,11.34Z"/></svg>
            <p>@joinReset</p>
          </a>
        </div>
      </div>
      <div class="part part2  disabled" data-part="2">
        <div class="left">
          <p class="second-part-title">Founders of reset</p>
          <div class="flex">
            <ul>
              <li class="bolditalic">Graphic Design</li>
              <li>Manon Jouet</li>
              <li>Florian Moreau</li>
            </ul>
            <ul>
              <li class="bolditalic">Developement</li>
              <li>Cécile Delmon</li>
              <li>Ivan Daum</li>
            </ul>
          </div>
        </div>
        <div class="center">
          <p class="second-part-title">Teaching team</p>
          <div class="flex">
            <ul>

              <li>Thierry audoux</li>
              <li>Véronique Ficara</li>
              <li>Marine Sergent</li>
              <li>Franco Bouly</li>
            </ul>
            <ul>
              <li>Thomas Menia</li>
              <li>Christophe Zidler</li>
              <li>Catherine Nyeki</li>
              <li>François Marquet</li>
            </ul>
          </div>
        </div>
        <div class="right">
          <p class="second-part-title">Sound design</p>
          <ul>
            <li>Paul Voidey</li>
          </ul>
        </div>
    </div>
  </div>
  </div>
</section>

<div id="result-box">
    <div class="room-result">
    </div>

    <div class="users-result"></div>


    <div class="form username-form">
        <div class="input-validator">
            <span class="error">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                <path d="M8.38,7.51,9.94,6a.62.62,0,0,0-.88-.88L7.5,6.63,5.94,5.07A.62.62,0,0,0,5.06,6L6.62,7.51,5.06,9.07a.62.62,0,1,0,.88.88L7.5,8.39,9.06,10a.62.62,0,0,0,.88-.88Z"/>
                </svg>
            </span>
            <span class="validated">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                       <path d="M6.84,15l-5.2-4.5a1.15,1.15,0,0,1-.1-1.7h0a1.16,1.16,0,0,1,1.7-.1l3.3,2.9c.5.4,1,.73,1.7-.1l6.3-7a1.16,1.16,0,0,1,1.7-.1h0a1.16,1.16,0,0,1,.1,1.7l-7.9,8.8A1.11,1.11,0,0,1,6.84,15Z"/>
                     </svg>
                </span>
        </div>
        <input type="text" name="name" class="unselectable user-new-name" placeholder="Enter your name" />
        <div class="errors unselectable"></div>
        <div class="enter-reset">
            <button class="btn-ui">Validate</button>
        </div>
    </div>
</div>

<section id="canvas-container"></section>

<script id="vshader" type="x-shader/x-vertex">

	varying vec2 vUv;

	void main() {

	  vUv = uv;

	  gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
	}
</script>
<script id="fshader" type="x-shader/x-fragment">

	uniform float whitePath;
	varying vec2 vUv;

	void main() {
		if (vUv.y > whitePath) {
			gl_FragColor = vec4(0.1, 0.1, 0.1, 1.0);
		} else {
	  		gl_FragColor = vec4(1, 1, 1, 1.0);
	  }
	}
</script>
