<div id="about" class="container">
    <h1>About</h1>
</div>
<div id="home" class="container">
    <h1>Home</h1>
    <button class="start-tutorial button navigator-link" data-target="tutorial">Start experience</button>
</div>

<div id="tutorial" class="container">
    <%- include('username-form') %>
</div>

<div id="canvas-container" class="container">

</div>