<p class="mobile-text">Join Reset on desktop</p>
<div class="mobile-background"></div>
<section id="home" class="container">
    <div class="home-landing container">
        <button class="btn home-to-start">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                <path d="M7.83.81v1A3.22,3.22,0,0,1,11,5v5a3.21,3.21,0,1,1-6.42,0V5a3.21,3.21,0,0,1,3.2-3.22v-1m0,0h0A4.21,4.21,0,0,0,3.62,5v5a4.21,4.21,0,0,0,4.21,4.2h0A4.21,4.21,0,0,0,12.05,10V5A4.21,4.21,0,0,0,7.83.81Z"/>
                <path d="M7.71,6c-.28,0-.5-.06-.5-.33V4.35a.47.47,0,0,1,.5-.46.52.52,0,0,1,.5.52V5.65c0,.28-.22.35-.5.35Z"/>
            </svg>

            <svg class="arrow-scroll" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                <path d="M10.93,6.21a.72.72,0,0,1-.2.5L8,9.63a.73.73,0,0,1-1.07,0L4.26,6.7a.73.73,0,1,1,1.08-1l2.1,2.33L9.67,5.71a.73.73,0,0,1,1.26.5Z"/>
            </svg>
            <svg class="arrow-scroll" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                <path d="M10.93,6.21a.72.72,0,0,1-.2.5L8,9.63a.73.73,0,0,1-1.07,0L4.26,6.7a.73.73,0,1,1,1.08-1l2.1,2.33L9.67,5.71a.73.73,0,0,1,1.26.5Z"/>
            </svg>
        </button>
    </div>
    <div class="home-start container unselectable">
		<p class="title">Reset is a collaborative world.</p>
        <div class="form username-form">
            <div class="input-validator">
                <span class="error">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                    <path d="M8.38,7.51,9.94,6a.62.62,0,0,0-.88-.88L7.5,6.63,5.94,5.07A.62.62,0,0,0,5.06,6L6.62,7.51,5.06,9.07a.62.62,0,1,0,.88.88L7.5,8.39,9.06,10a.62.62,0,0,0,.88-.88Z"/>
                    </svg>
                </span>
                <span class="validated">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                       <path d="M6.84,15l-5.2-4.5a1.15,1.15,0,0,1-.1-1.7h0a1.16,1.16,0,0,1,1.7-.1l3.3,2.9c.5.4,1,.73,1.7-.1l6.3-7a1.16,1.16,0,0,1,1.7-.1h0a1.16,1.16,0,0,1,.1,1.7l-7.9,8.8A1.11,1.11,0,0,1,6.84,15Z"/>
                     </svg>
                </span>
            </div>
            <input type="text" name="name" class="unselectable user-new-name" onselectstart="return false;" placeholder="Enter your name" />
            <div class="errors unselectable"></div>
            <p class="unselectable">Ready to join us ?</p>
			<p class="unselectable homehelp">Drag me</p>
            <div class="enter-reset">
                <div class="draggable">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                        <path d="M13,22.87a.5.5,0,0,1-.25-.07l-8-4.62a.5.5,0,0,1-.25-.43V8.52a.5.5,0,0,1,.25-.43l8-4.62a.5.5,0,0,1,.5,0l8,4.62a.5.5,0,0,1,.25.43v9.24a.5.5,0,0,1-.25.43l-8,4.62A.5.5,0,0,1,13,22.87ZM5.5,17.47,13,21.8l7.5-4.33V8.81L13,4.48,5.5,8.81Zm15.5.29h0Z"/>
                        <path d="M12.5,10v5l-1.05-1.15a.54.54,0,0,0-.76,0,.53.53,0,0,0,0,.75l1.91,2.12a.53.53,0,0,0,.78,0l2-2.12a.53.53,0,0,0,0-.75.55.55,0,0,0-.76,0l-1.06,1.1V10a.5.5,0,1,0-1,0Z"/>
                    </svg>
                </div>

                <div class="draggable-background"></div>
                <div class="draggable-ending"></div>
            </div>
        </div>
    </div>
</section>

<div id="result-box">
    <div class="content">
      <button class="back-to-map navigator-link" data-target="map">
        <div class="picto">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-back-to-map" viewBox="0 0 15 15">
            <title>back</title>
            <path d="M6.5,10.35a.5.5,0,0,1-.34-.14l-2-1.9a.5.5,0,0,1,0-.73l2-1.8a.5.5,0,0,1,.67.74L5.24,8,6.84,9.49a.5.5,0,0,1-.34.86Z"/>
            <path d="M10.5,8.45h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"/>
          </svg>
        </div>
        <p>Back&nbsp;to&nbsp;world&nbsp;view</p>
      </button>
      <div class="room-result">
        <div class="finished_at">
          <div class="picto-container">
                <svg class="picto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>calendar</title><path d="M22.5,4.25H20.8v-1a.5.5,0,0,0-1,0v1h-9v-1a.5.5,0,0,0-1,0v1H8.1a3.33,3.33,0,0,0-3.3,3.3v2.7h21V7.55A3.33,3.33,0,0,0,22.5,4.25Z"/><path d="M4.8,23.95a3.33,3.33,0,0,0,3.3,3.3H22.5a3.33,3.33,0,0,0,3.3-3.3V11.25H4.8Zm15.3-11H22v1.9H20.1Zm0,4.4H22v1.9H20.1Zm-4.3-4.4h1.9v1.9H15.8Zm0,4.4h1.9v1.9H15.8Zm0,4.4h1.9v1.9H15.8Zm-4.3-8.8h1.9v1.9H11.5Zm0,4.4h1.9v1.9H11.5Zm0,4.4h1.9v1.9H11.5Zm-4.3-8.8H9.1v1.9H7.2Zm0,4.4H9.1v1.9H7.2Zm0,4.4H9.1v1.9H7.2Z"/></svg>
        </div>
          <div class="value"></div>
        </div>
        <div class="time">
          <div class="picto-container">
            <svg class="picto"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>time</title><path d="M23.86,8.75l.6.6a.5.5,0,0,0,.6,0,.45.45,0,0,0,0-.5L23.26,7a.45.45,0,0,0-.5,0,.45.45,0,0,0,0,.5l.6.6-1.3,1.3a9.72,9.72,0,0,0-6.7-3V4.55h1a.47.47,0,0,0,.5-.5.47.47,0,0,0-.5-.5h-3a.47.47,0,0,0-.5.5.47.47,0,0,0,.5.5h1v1.9a10,10,0,1,0,10.5,10,10.42,10.42,0,0,0-2.3-6.4h0Zm-3.6,2.8-5.1,5.3a.52.52,0,0,1-.4.2.37.37,0,0,1-.3-.1.48.48,0,0,1,0-.7l5.1-5.3a.48.48,0,0,1,.7,0C20.46,11,20.46,11.35,20.26,11.55Z"/></svg>
          </div>
          <div class="value"></div>
        </div>
        <div class="click">
          <div class="picto-container">
            <svg class="picto"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>click</title><path d="M11.93,11.57l5.8,15.1c.1.3.4.3.6,0l2.1-3.9,4.4,4.4a.61.61,0,0,0,.8,0l2.2-2.2a.61.61,0,0,0,0-.8l-4.4-4.4,3.9-2.1a.38.38,0,0,0,0-.6l-15.1-5.8A.22.22,0,0,0,11.93,11.57Z"/><path d="M16.43,10.17a.6.6,0,0,1-.4-.1.48.48,0,0,1,0-.7l3.9-3.8a.49.49,0,0,1,.7.7l-3.9,3.8A.37.37,0,0,1,16.43,10.17Z"/><path d="M13,9.07a.47.47,0,0,1-.5-.5v-5a.5.5,0,0,1,1,0v5A.47.47,0,0,1,13,9.07Z"/><path d="M10,9.88a.6.6,0,0,1-.4-.1L5.82,6a.49.49,0,0,1,.7-.7l3.8,3.8a.48.48,0,0,1,0,.7C10.22,9.77,10.12,9.88,10,9.88Z"/><path d="M9.52,13.57h-7a.5.5,0,0,1,0-1h7a.5.5,0,1,1,0,1Z"/><path d="M6.52,20.07a.6.6,0,0,1-.4-.1.48.48,0,0,1,0-.7l3.9-3.8a.49.49,0,0,1,.7.7L6.82,20A.37.37,0,0,1,6.52,20.07Z"/></svg>
          </div>
          <div class="value"></div>
        </div>
        <div class="msg">
          <div class="picto-container">
            <svg class="picto"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>interact</title><path d="M22.07,21.8a11.15,11.15,0,1,0-9.78,3,11.39,11.39,0,0,0,4.19-.05L25,26.48a.22.22,0,0,0,.22-.34Zm-9.25-2.71a1.33,1.33,0,0,1-1.71,0,1.13,1.13,0,0,1,0-1.59,1.29,1.29,0,0,1,1.69,0,1.13,1.13,0,0,1,0,1.59Zm2.25-6.47a4.81,4.81,0,0,1-1,1.22l-.59.56a2,2,0,0,0-.63,1.24v.44h-.9A.91.91,0,0,1,11.06,15a2.87,2.87,0,0,1,.15-.53,3.32,3.32,0,0,1,.9-1.19,4.62,4.62,0,0,0,.87-1,1.49,1.49,0,0,0,.22-.77q0-1.23-1.13-1.23a1.15,1.15,0,0,0-.86.33A1.1,1.1,0,0,0,11,11a.87.87,0,0,1-.83.52h-.3A.89.89,0,0,1,9,10.32a2.53,2.53,0,0,1,.69-1,4.14,4.14,0,0,1,4.79,0,2.65,2.65,0,0,1,.85,2.1,2.56,2.56,0,0,1-.22,1.2Zm2.4-3.91h.37a.9.9,0,0,1,.9.9v0l-.19,5.52a.9.9,0,0,1-1.8,0l-.18-5.45a.9.9,0,0,1,.79-1Zm1,10.37a1.31,1.31,0,0,1-1.7,0,1,1,0,0,1-.32-.79,1.07,1.07,0,0,1,.32-.79,1.16,1.16,0,0,1,.85-.32,1.18,1.18,0,0,1,.85.31A1.14,1.14,0,0,1,18.47,19.08Z"/></svg>
          </div>
          <div class="value"></div>
        </div>
      </div>
      <div class="users-result"></div>
      <div class="form username-form">
          <div class="input-validator">
              <span class="error">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                  <path d="M8.38,7.51,9.94,6a.62.62,0,0,0-.88-.88L7.5,6.63,5.94,5.07A.62.62,0,0,0,5.06,6L6.62,7.51,5.06,9.07a.62.62,0,1,0,.88.88L7.5,8.39,9.06,10a.62.62,0,0,0,.88-.88Z"/>
                  </svg>
              </span>
              <span class="validated">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                         <path d="M6.84,15l-5.2-4.5a1.15,1.15,0,0,1-.1-1.7h0a1.16,1.16,0,0,1,1.7-.1l3.3,2.9c.5.4,1,.73,1.7-.1l6.3-7a1.16,1.16,0,0,1,1.7-.1h0a1.16,1.16,0,0,1,.1,1.7l-7.9,8.8A1.11,1.11,0,0,1,6.84,15Z"/>
                       </svg>
                  </span>
          </div>
          <input type="text" name="name" class="unselectable user-new-name" placeholder="Enter your name" />
          <div class="errors unselectable"></div>
          <div class="enter-reset">
              <button class="btn-ui">Validate</button>
          </div>
      </div>
    </div>
</div>

<section id="canvas-container"></section>

<script id="vshader" type="x-shader/x-vertex">

	varying vec2 vUv;

	void main() {

	  vUv = uv;

	  gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
	}
</script>
<script id="fshader" type="x-shader/x-fragment">

	uniform float whitePath;
	varying vec2 vUv;

	void main() {
		if (vUv.y > whitePath) {
			gl_FragColor = vec4(0.1, 0.1, 0.1, 1.0);
		} else {
	  		gl_FragColor = vec4(1, 1, 1, 1.0);
	  }
	}
</script>


<script type="x-shader/x-vertex" id="texture-vertexShader">

	attribute vec4 tangent;

	uniform float time;
	uniform float useRim;

	varying vec3 vNormal;
	varying vec3 vEye;
	varying vec3 vU;
	varying vec2 vN;

	void main() {

		vU = normalize( vec3( modelViewMatrix * vec4( position, 1.0 ) ) );

		vec3 n = normalize( normalMatrix * normal );
		vec3 r = reflect( vU, n );
		float m = 2.0 * sqrt( r.x * r.x + r.y * r.y + ( r.z + 1.0 ) * ( r.z+1.0 ) );
		vN = vec2( r.x / m + 0.5,  r.y / m + 0.5 );

		gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

		vNormal = normalize( normalMatrix * normal );

		if( useRim > 0. ) {
			vEye = ( modelViewMatrix * vec4( position, 1.0 ) ).xyz;
		} else {
			vEye = vec3( 0. );
		}

	}

	</script>

	<script type="x-shader/x-vertex" id="texture-fragmentShader">

	uniform float time;
	uniform sampler2D tMatCap;
	uniform float noise;
	uniform float useRim;
	uniform float rimPower;
	uniform float useScreen;

	varying vec3 vNormal;
	varying vec3 vEye;
	varying vec2 vN;

	float random(vec3 scale,float seed){return fract(sin(dot(gl_FragCoord.xyz+seed,scale))*43758.5453+seed);}

	void main() {

		vec3 finalNormal = vNormal;
		vec2 calculatedNormal = vN;

		vec3 base = texture2D( tMatCap, calculatedNormal ).rgb;

		// rim lighting

		if( useRim > 0. ) {
			float f = rimPower * abs( dot( vNormal, normalize( vEye ) ) );
			f = useRim * ( 1. - smoothstep( 0.0, 1., f ) );
	        base += vec3( f );
	    }

	    // screen blending

        if( useScreen == 1. ) {
			base = vec3( 1. ) - ( vec3( 1. ) - base ) * ( vec3( 1. ) - base );
		}

        // noise

        base += noise * ( .5 - random( vec3( 1. ), length( gl_FragCoord ) ) );

		gl_FragColor = vec4( base, 1. );

	}

	</script>
