<section id="home" class="container">
    <div class="home-landing container">
        <button class="btn home-to-start">▼</button>
    </div>
    <div class="home-start container">
        <%- include('username-form') %>
    </div>
</section>

<section id="about" class="container">
    <h1>About</h1>
</section>

<div id="username-box">
    <%- include('username-form') %>
</div>

<section id="room-menu">
    <button class="btn send-help">Help!</button>
    <button class="btn show-sharer">Share</button>
    <div class="share-url">
        <div class="current-url"></div>
        <button class="copy-url">Copy</button>
        <a href="https://www.facebook.com/sharer/sharer.php?u=" class="sharer" target="_blank">facebook</a>
        <a href="https://twitter.com/intent/tweet?text=I need help here! " class="sharer" target="_blank">twitter</a>
    </div>
</section>
<section id="canvas-container" class="container"></section>

<script id="vshader" type="x-shader/x-vertex">

	varying vec2 vUv;

	void main() {

	  vUv = uv;

	  gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
	}
</script>
<script id="fshader" type="x-shader/x-fragment">

	uniform float whitePath;
	varying vec2 vUv;

	void main() {
		if (vUv.y > whitePath) {
			gl_FragColor = vec4(0.1, 0.1, 0.1, 1.0);
		} else {
	  		gl_FragColor = vec4(1, 1, 1, 1.0);
	  }
	}
</script>
